<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mini Finance - Settings</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 
    <link href="../admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="../admin/css/bootstrap-icons.css" rel="stylesheet">
    <link href="../admin/css/tooplate-mini-finance.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="css/tooplate-mini-finance.css" rel="stylesheet">
 

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body ng-app="myApp">
    <header class="navbar sticky-top flex-md-nowrap">
        <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
            <a class="navbar-brand" href="index.html">
                <i class="bi-box"></i>
                BEE SIX CAKE 
            </a>
        </div>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0"
            action="#" method="get" role="form">
            <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
        </form>

        <div class="navbar-nav me-lg-2">
            <div class="nav-item text-nowrap d-flex align-items-center">
                <div class="dropdown ps-3">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-bell"></i>
                        <span class="position-absolute start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </a>

                    <ul class="dropdown-menu notifications-block-wrap bg-white shadow">
                        <small>Notifications</small>
                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-success">
                                    <i class="notifications-icon bi-check-circle-fill"></i>
                                </div>
                                <div>
                                    <span>Your account has been created successfully.</span>
                                    <p>12 days ago</p>
                                </div>
                            </a>
                        </li>
                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-info">
                                    <i class="notifications-icon bi-folder"></i>
                                </div>
                                <div>
                                    <span>Please check. We have sent a Daily report.</span>
                                    <p>10 days ago</p>
                                </div>
                            </a>
                        </li>
                        <li class="notifications-block">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-danger">
                                    <i class="notifications-icon bi-question-circle"></i>
                                </div>
                                <div>
                                    <span>Account verification failed.</span>
                                    <p>1 hour ago</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="dropdown ps-1">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-three-dots-vertical"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-social bg-white shadow">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="images/social/search.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Google</span>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="images/social/spotify.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Spotify</span>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="images/social/telegram.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Telegram</span>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="images/social/snapchat.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Snapchat</span>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="images/social/tiktok.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Tiktok</span>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="images/social/youtube.png" class="profile-image img-fluid" alt="">
                                        <span class="d-block">Youtube</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-include="'layout/header.html'" ng-controller="CheckLogin"></div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div ng-include="'layout/menu.html'"></div>

            <main class="main-wrapper col-md-9 ms-sm-auto py-2 col-lg-9 px-md-4 border-start">
                <div class="title-group mb-3">
                    <h1 class="h2 mb-0">Quản Lý Mã Giảm Giá</h1>
                </div>

                <div class="row my-4">
                    <div class="">
                        <div class="custom-block bg-white">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile-tab-pane" type="button" role="tab"
                                        aria-controls="profile-tab-pane" aria-selected="true"> <i class="fas fa-list"></i> Danh sách mã giảm giá</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="password-tab" data-bs-toggle="tab"
                                        data-bs-target="#password-tab-pane" type="button" role="tab"
                                        aria-controls="password-tab-pane" aria-selected="false"> <i class="fas fa-edit"></i> Chỉnh sữa danh sách mã giảm giá</button>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent" ng-controller="discountsController">

                                <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                    <!-- Form sửa đổi -->
                                    <form name="discountForm" class="custom-form profile-form" novalidate>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <p>Mã giảm giá:</p>
                                                <input class="form-control" type="text" name="Discounts-code" id="Discounts-code" placeholder="Mã giảm giá" ng-model="selecteddiscount.discountcode" required>
                                                <!-- <div ng-show="discountForm['Discounts-code'].$touched && discountForm['Discounts-code'].$invalid" class="text-danger">
                                                    Mã giảm giá là bắt buộc.
                                                </div> -->
                                            </div>
                                            <div class="col-md-6">
                                                <p>Ngày bắt đầu:</p>
                                                <input class="form-control" placeholder="ngày bắt đầu" type="date" name="Discounts-startdate" id="Discounts-startdate" ng-model="selecteddiscount.startdate" required>
                                                <!-- <div ng-show="discountForm['Discounts-startdate'].$touched && discountForm['Discounts-startdate'].$invalid" class="text-danger">
                                                    Ngày bắt đầu là bắt buộc.
                                                </div> -->
                                            </div>
                                        </div>
                            
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <p>Phần trăm giảm giá:</p>
                                                <input class="form-control" type="number" name="Discounts-percentage" id="Discounts-percentage" placeholder="Phần trăm giảm giá" ng-model="selecteddiscount.discountpercentage" min="0" max="100" required>
                                                <!-- <div ng-show="discountForm['Discounts-percentage'].$touched && discountForm['Discounts-percentage'].$invalid" class="text-danger">
                                                    Phần trăm  là bắt buộc và phải từ 0 đến 100.
                                                </div> -->
                                            </div>
                                            <div class="col-md-6">
                                                <p>Đơn hàng tối thiểu:</p>
                                                <input class="form-control" type="number" name="lowestPrice" id="lowestPrice" ng-model="selecteddiscount.lowestprice" placeholder="Đơn hàng tối thiểu" required>
                                                <!-- <div ng-show="discountForm['lowestPrice'].$touched && discountForm['lowestPrice'].$invalid" class="text-danger">
                                                    Giá thấp nhất là bắt buộc. 
                                                </div> -->
                                            </div>
                                        </div>
                            
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <p>Ngày kết thúc:</p>
                                                <input class="form-control" placeholder="ngày kết thúc" type="date" name="Discounts-enddate" id="Discounts-enddate" ng-model="selecteddiscount.enddate" required>
                                                <!-- <div ng-show="discountForm['Discounts-enddate'].$touched && discountForm['Discounts-enddate'].$invalid" class="text-danger">
                                                    Ngày kết thúc là bắt buộc.
                                                </div> -->
                                            </div>
                                        </div>
                            <!-- ng-disabled="discountForm.$invalid" -->
                                        <div class="d-flex justify-content-start mt-3">
                                            <button type="button" class="btn btn-primary me-2" id="add-btn" ng-click="adddiscount()" >
                                                <i class="fas fa-plus"></i> Thêm
                                            </button>
                                            <button type="button" class="btn btn-warning me-2" id="edit-btn" ng-click="editdiscount()" ng-disabled="discountForm.$invalid">
                                                <i class="fas fa-edit"></i> Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger me-2" id="delete-btn" ng-click="deletediscount(selecteddiscount)">
                                                <i class="fas fa-trash-alt"></i> Xóa
                                            </button>
                                            <button type="reset" class="btn btn-secondary ms-2" id="reset-btn" ng-click="resetForm()">
                                                <i class="fas fa-sync-alt"></i> Làm mới
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            
                                <div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">
                                    <div class="table-responsive">
                                        <table class="account-table table">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Mã giảm giá</th>
                                                    <th>Phần trăm giảm giá</th>
                                                    <th>Ngày bắt đầu</th>
                                                    <th>Ngày kết thúc</th>
                                                    <th>Đơn hàng tối thiểu</th>
                                                    <th class="text-end">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="category in Discounts">
                                                    <td>{{category.iddiscount}}</td>
                                                    <td>{{category.discountcode}}</td>
                                                    <td>{{category.discountpercentage}}%</td>
                                                    <td>{{category.startdate | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{category.enddate | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{formatCurrency(category.lowestprice)}}</td>
                                                    <td class="text-end">
                                                        
                                                        <button class="btn btn-sm btn-warning" ng-click="goToEdit(category)">Edit</button>
                                                        <button class="btn btn-sm btn-danger" ng-click="deletediscount(category)">Delete</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="site-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-12">
                                <p class="copyright-text">Copyright © Mini Finance 2048
                                    - Design: <a rel="sponsored" href="https://www.tooplate.com"
                                        target="_blank">Tooplate</a></p>
                            </div>
                        </div>
                    </div>
                </footer>
            </main>
        </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="../admin/js/Discounts.js"></script>
    <script src="../admin/js/jquery.min.js"></script>
    <script src="../admin/js/bootstrap.bundle.min.js"></script>
    <script src="../admin/js/custom.js"></script>
</body>

</html>