<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mini Finance - Settings</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="../admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="../admin/css/bootstrap-icons.css" rel="stylesheet">
    <link href="../admin/css/tooplate-mini-finance.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="css/tooplate-mini-finance.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<style>
    .account-table th {
        padding: 12px 15px;
        font-size: 16px;
    }

    td,
    th {
        font-size: 16px !important;
    }
</style>

<body ng-app="myApp" ng-controller="discountsController">
    <header class="navbar sticky-top flex-md-nowrap">
        <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
            <a class="navbar-brand" href="index.html">
                <i class="bi-box"></i>
                BEE SIX CAKE </a>
        </div>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-nav me-lg-2">
            <div class="nav-item text-nowrap d-flex align-items-center">
                <div ng-include="'layout/header.html'" ng-controller="CheckLogin"></div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div ng-include="'layout/menu.html'"></div>
            <main class="main-wrapper col-md-9 ms-sm-auto py-2 col-lg-9 px-md-4 border-start">
                <div class="title-group mb-3">
                    <h1 class="h2 mb-0">Quản Lý Mã Giảm Giá</h1>
                </div>

                <div class="row my-4">
                    <div class="">
                        <div class="custom-block bg-white">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab"
                                        data-bs-target="#profile-tab-pane" type="button" role="tab"
                                        aria-controls="profile-tab-pane" aria-selected="true">
                                        <i class="fas fa-list"></i> Danh sách mã giảm giá
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="password-tab" data-bs-toggle="tab"
                                        data-bs-target="#password-tab-pane" type="button" role="tab"
                                        aria-controls="password-tab-pane" aria-selected="false">
                                        <i class="fas fa-edit"></i> Chỉnh sửa danh sách mã giảm giá
                                    </button>
                                </li>
                                <li class="nav-item ms-auto" role="presentation">
                                    <div class="d-flex align-items-center">
                                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm mã"
                                            aria-label="Search" ng-model="searchQuery" ng-change="updateSearch()">
                                        <label class="input-group-text fw-bold" for="orderStatusSelect">Hạn sử
                                            dụng</label>
                                        <select class="form-select me-2" ng-model="filterOption"
                                            ng-change="updateFilter()">
                                            <option value="">Tất cả</option>
                                            <option value="valid">Còn hạn</option>
                                            <option value="expired">Hết hạn</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel"
                                    aria-labelledby="profile-tab" tabindex="0">
                                    <div class="table-responsive">
                                        <table class="account-table table">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Mã giảm giá</th>
                                                    <th>Phần trăm giảm giá</th>
                                                    <th>Ngày bắt đầu</th>
                                                    <th>Ngày kết thúc</th>
                                                    <th>Đơn hàng tối thiểu</th>
                                                    <th class="text-end">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="category in paginatedDiscounts | filter:filterCondition">
                                                    <td>{{category.iddiscount}}</td>
                                                    <td>{{category.discountcode}}</td>
                                                    <td>{{category.discountpercentage}}%</td>
                                                    <td>{{category.startdate | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{category.enddate | date:'dd/MM/yyyy'}}</td>
                                                    <td>{{formatCurrency(category.lowestprice)}}</td>
                                                    <td class="text-end">
                                                        <button class="btn btn-sm btn-warning"
                                                            ng-click="goToEdit(category)"> <i
                                                                class="bi bi-pencil-square"></i> Chỉnh sửa</button>
                                                        <button class="btn btn-sm btn-danger"
                                                            ng-click="deletediscount(category)"><i
                                                                class="bi bi-trash"></i> Xóa</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Phân trang -->
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item" ng-class="{'disabled': currentPage === 1}">
                                                <button class="page-link" ng-click="goToPage(currentPage - 1)">Trang
                                                    trước</button>
                                            </li>
                                            <li class="page-item"
                                                ng-repeat="page in [].constructor(totalPages) track by $index"
                                                ng-class="{'active': currentPage === $index + 1}">
                                                <button class="page-link" ng-click="goToPage($index + 1)">{{$index +
                                                    1}}</button>
                                            </li>
                                            <li class="page-item" ng-class="{'disabled': currentPage === totalPages}">
                                                <button class="page-link" ng-click="goToPage(currentPage + 1)">Trang
                                                    sau</button>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>

                                <div class="tab-pane fade" id="password-tab-pane" role="tabpanel"
                                    aria-labelledby="password-tab" tabindex="0">
                                    <div class="modal fade" id="messageModal" tabindex="-1"
                                        aria-labelledby="messageModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Thông báo</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body" id="messageModalBody">
                                                    <!-- Nội dung thông báo -->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Hủy</button>
                                                    <button type="button" id="confirmModalButton" class="btn btn-danger"
                                                        style="display: none;" data-bs-dismiss="modal">Xác nhận</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form name="discountForm" class=" profile-form" novalidate>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <p>Mã giảm giá:</p>
                                                <input class="form-control" type="text" name="Discounts-code"
                                                    id="Discounts-code" placeholder="Mã giảm giá"
                                                    ng-model="selecteddiscount.discountcode" required>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Đơn hàng tối thiểu:</p>
                                                <input class="form-control" type="number" name="lowestPrice"
                                                    id="lowestPrice" ng-model="selecteddiscount.lowestprice"
                                                    placeholder="Đơn hàng tối thiểu" required>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <p>Ngày bắt đầu:</p>
                                                <input class="form-control" placeholder="Ngày bắt đầu" type="date"
                                                    name="Discounts-startdate" id="Discounts-startdate"
                                                    ng-model="selecteddiscount.startdate" required>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Ngày kết thúc:</p>
                                                <input class="form-control" placeholder="Ngày kết thúc" type="date"
                                                    name="Discounts-enddate" id="Discounts-enddate"
                                                    ng-model="selecteddiscount.enddate" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Phần trăm giảm giá:</p>
                                            <input class="form-control" type="number" name="Discounts-percentage"
                                                id="Discounts-percentage" placeholder="Phần trăm giảm giá"
                                                ng-model="selecteddiscount.discountpercentage" min="0" max="100"
                                                required>
                                        </div>

                                        <div class="d-flex justify-content-start mt-3">
                                            <button class="btn btn-primary me-2" id="add-btn" ng-click="adddiscount()">
                                                <i class="fas fa-plus"></i> Thêm
                                            </button>
                                            <button class="btn btn-warning me-2" id="edit-btn" ng-click="editdiscount()"
                                                ng-disabled="discountForm.$invalid">
                                                <i class="fas fa-edit"></i> Sửa
                                            </button>
                                            <button class="btn btn-danger me-2" id="delete-btn"
                                                ng-click="deletediscount(selecteddiscount)">
                                                <i class="fas fa-trash-alt"></i> Xóa
                                            </button>
                                            <button type="reset" class="btn btn-secondary" id="reset-btn"
                                                ng-click="resetForm()">
                                                <i class="fas fa-sync-alt"></i> Làm mới
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="../admin/js/Discounts.js"></script>
    <script src="../admin/js/jquery.min.js"></script>
    <script src="../admin/js/bootstrap.bundle.min.js"></script>
    <script src="../admin/js/custom.js"></script>
</body>

</html>