<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập - Bee Six Cake</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../assets/css/hau.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../admin/js/login.js"></script>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="../assets/css/plugins.css">
</head>

<body ng-app="myApp" ng-controller="LoginController">

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4"></div>
            <div class="col-lg-4 col-md-4">
                <div class="wrapper">
                    <div class="account_form position-relative">
                        <div class="logo">BEE SIX CAKE</div>
                        <h2>Đăng Nhập</h2>
                        <img src="../assets/img/sticker-cake1.png" class="sticker sticker-left-top" alt="Sticker bánh kem">
                        <img src="../assets/img/sticker-cake2.png" class="sticker sticker-right-bottom" alt="Sticker bánh kem">
                        <form id="form" name="loginForm" ng-submit="login()">
                            <p>
                                <input type="text" ng-model="user.idaccount" placeholder="Tên tài khoản (*)"
                                    class="mb-2 form-control" name="txtIDAccount" required>
                                <div class="form-text text-danger"
                                    ng-show="loginForm.txtIDAccount.$touched && loginForm.txtIDAccount.$invalid">
                                    Tên tài khoản không hợp lệ
                                </div>
                            </p>
                            <p>
                                <input type="password" ng-model="user.password" placeholder="Mật khẩu (*)" minlength="6"
                                    name="txtPassword" class="mt-2 mb-2 form-control" required>
                                <div class="form-text text-danger"
                                    ng-show="loginForm.txtPassword.$touched && loginForm.txtPassword.$invalid">
                                    Mật khẩu phải có ít nhất 6 ký tự
                                </div>
                            </p>
                            <div class="login_submit">
                                <button type="submit" id="xacnhan" class="btn btn-primary">Đăng Nhập</button>
                                <div class="form-text text-danger" ng-show="loginError">
                                    {{loginError}}
                                </div>
                                <div class="form-text text-success" ng-show="loginSuccess">
                                    {{loginSuccess}}
                                </div>
    
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 col-md-4"></div>
        </div>
    </div>

    <script src="../assets/js/bootstrap.bundle.js"></script>
</body>

</html>
