<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mini Finance - Settings</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>



    <link href="../admin/css/bootstrap.min.css" rel="stylesheet">

    <link href="../admin/css/bootstrap-icons.css" rel="stylesheet">

    <link href="../admin/css/tooplate-mini-finance.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




    <!--

    Tooplate 2135 Mini Finance

    https://www.tooplate.com/view/2135-mini-finance

    Bootstrap 5 Dashboard Admin Template

    -->
</head>

<body>
    <header class="navbar sticky-top flex-md-nowrap">
        <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
            <a class="navbar-brand" href="index.html">
                <i class="bi-box"></i>
                BEE SIX CAKE </a>
        </div>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0"
            action="#" method="get" role="form">
            <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
        </form>

        <div class="navbar-nav me-lg-2">
            <div class="nav-item text-nowrap d-flex align-items-center">
                <!-- Notifications Dropdown -->
                <div class="dropdown ps-3">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-bell"></i>
                        <span
                            class="position-absolute start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </a>

                    <ul class="dropdown-menu notifications-block-wrap bg-white shadow">
                        <small>Notifications</small>
                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-success">
                                    <i class="notifications-icon bi-check-circle-fill"></i>
                                </div>
                                <div>
                                    <span>Your account has been created successfully.</span>
                                    <p>12 days ago</p>
                                </div>
                            </a>
                        </li>
                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-info">
                                    <i class="notifications-icon bi-folder"></i>
                                </div>
                                <div>
                                    <span>Please check. We have sent a Daily report.</span>
                                    <p>10 days ago</p>
                                </div>
                            </a>
                        </li>
                        <li class="notifications-block">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-danger">
                                    <i class="notifications-icon bi-question-circle"></i>
                                </div>
                                <div>
                                    <span>Account verification failed.</span>
                                    <p>1 hour ago</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Social Media Dropdown -->
                <div class="dropdown ps-1">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-three-dots-vertical"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-social bg-white shadow">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="images/social/search.png" class="profile-image img-fluid"
                                            alt="Google">
                                        <span class="d-block">Google</span>
                                    </a>
                                </div>
                                <!-- More social media links here -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- User Profile Dropdown -->
                <div class="dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="images/medium-shot-happy-man-smiling.jpg" class="profile-image img-fluid"
                            alt="User Profile">
                    </a>
                    <ul class="dropdown-menu bg-white shadow">
                        <li>
                            <div class="dropdown-menu-profile-thumb d-flex">
                                <img src="images/medium-shot-happy-man-smiling.jpg" class="profile-image img-fluid me-3"
                                    alt="User Profile">
                                <div class="d-flex flex-column">
                                    <small>Thomas</small>
                                    <a href="#">thomas@site.com</a>
                                </div>
                            </div>
                        </li>
                        <!-- Profile and Settings Links -->
                        <li>
                            <a class="dropdown-item" href="profile.html">
                                <i class="bi-person me-2"></i>
                                Profile
                            </a>
                        </li>
                        <!-- More profile options here -->
                        <li class="border-top mt-3 pt-2 mx-4">
                            <a class="dropdown-item ms-0 me-0" href="#">
                                <i class="bi-box-arrow-left me-2"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Menu -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
                <div class="position-sticky py-4 px-3 sidebar-sticky">
                    <ul class="nav flex-column h-100">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">
                                <i class="bi-house-fill me-2"></i>
                                Trang Chủ
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="wallet.html">
                                        <i class="bi-wallet me-2"></i>
                                        My Wallet
                                    </a>
                                </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="accounts.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Người Dùng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="product-type.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Loại Sản Phẩm
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="size.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Size
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="product.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Sản Phẩm
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="wallet.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Đơn hàng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Discount.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Khuyến Mãi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="profile.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý doanh thu
                            </a>
                        </li>

                        <li class="nav-item border-top mt-auto pt-2">
                            <a class="nav-link" href="#">
                                <i class="bi-box-arrow-left me-2"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="main-wrapper col-md-9 ms-sm-auto py-2 col-lg-9 px-md-4 border-start">
                <div class="title-group mb-3">
                    <h1 class="h2 mb-0">Quản Lý Sản Phẩm</h1>
                </div>

                <!-- Tabs -->
                <div class="row my-4" ng-app="myApp" ng-controller="ProController">
                    <div class="col-12">
                        <div class="custom-block bg-white">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="edit-tab" data-bs-toggle="tab"
                                        data-bs-target="#edit-tab-pane" type="button" role="tab"
                                        aria-controls="edit-tab-pane" aria-selected="true">
                                        <i class="fas fa-edit"></i> Chỉnh sửa
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="list-tab" data-bs-toggle="tab"
                                        data-bs-target="#list-tab-pane" type="button" role="tab"
                                        aria-controls="list-tab-pane" aria-selected="false">
                                        <i class="fas fa-list"></i> Danh sách
                                    </button>
                                </li>
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <!-- Nội dung Tab Chỉnh sửa -->
                                <div class="tab-pane fade show active" id="edit-tab-pane" role="tabpanel" aria-labelledby="edit-tab" tabindex="0">
                                    <form class="row g-3 needs-validation" novalidate>
                                        <!-- Hiển thị thông báo -->
                                        <div ng-if="message" class="alert" ng-class="{'alert-success': messageType === 'success', 'alert-danger': messageType === 'error'}" role="alert">
                                            {{ message }}
                                        </div>
                            
                                        <!-- Tên sản phẩm -->
                                        <div class="col-md-6">
                                            <label for="product-name" class="form-label">Tên sản phẩm</label>
                                            <input type="text" id="product-name" ng-model="selectedProduct.productname" placeholder="Nhập tên sản phẩm" class="form-control" required />
                                            <div class="invalid-feedback">Vui lòng nhập tên sản phẩm.</div>
                                        </div>
                            
                                        <!-- Danh Mục -->
                                        <div class="col-md-6">
                                            <label for="category-select" class="form-label">Danh Mục</label>
                                            <select class="form-select" id="category-select" ng-model="selectedProduct.category" ng-options="category as category.categoryname for category in categories track by category.idcategory">
                                                <option value="" selected>Chọn danh mục</option>
                                            </select>
                                            <div class="invalid-feedback" ng-show="!selectedProduct.category">
                                                Vui lòng chọn danh mục.
                                            </div>
                                        </div>
                            
                                        <!-- Kích Thước -->
                                        <div class="col-md-6">
                                            <label for="size-input" class="form-label">Kích Thước</label>
                                            <div ng-repeat="size in sizes">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="size-{{size.idsize}}" ng-model="size.selected" ng-change="updateSelectedSizes()">
                                                    <label class="form-check-label" for="size-{{size.idsize}}">
                                                        {{ size.sizename }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <!-- Sinh ra các trường thông tin mới cho mỗi kích thước được chọn -->
                                        <div ng-repeat="selectedSize in selectedSizes" class="col-12">
                                            <h5>{{ selectedSize.size.sizename }}</h5>
                            
                                            <!-- Số lượng -->
                                            <div class="col-md-6">
                                                <label for="quantity-{{selectedSize.size.idsize}}" class="form-label">Số lượng</label>
                                                <input type="number" id="quantity-{{selectedSize.size.idsize}}" ng-model="selectedSize.quantity" placeholder="Nhập số lượng" class="form-control" required />
                                                <div class="invalid-feedback">Vui lòng nhập số lượng.</div>
                                            </div>
                            
                                            <!-- Giá -->
                                            <div class="col-md-6">
                                                <label for="price-{{selectedSize.size.idsize}}" class="form-label">Giá</label>
                                                <input type="number" id="price-{{selectedSize.size.idsize}}" ng-model="selectedSize.price" placeholder="Nhập giá" class="form-control" required />
                                                <div class="invalid-feedback">Vui lòng nhập giá.</div>
                                            </div>
                                            <div class="col-md-6">
                                               
                                                    <input class="form-check-input" type="checkbox" id="product-hide"
                                                        ng-model="selectedProduct.isactive" ng-change="updateIsActive()">
                                                    <label class="form-check-label" for="product-hide">Ẩn</label>
                                               
                                            </div>
                            
                                            <!-- Ghi chú -->
                                            <div class="col-md-12">
                                                <label for="note-{{selectedSize.size.idsize}}" class="form-label">Ghi Chú</label>
                                                <textarea id="note-{{selectedSize.size.idsize}}" ng-model="selectedSize.note" class="form-control" placeholder="Nhập ghi chú"></textarea>
                                            </div>
                            
                                            <!-- Ảnh -->
                                            <div class="col-md-12">
                                                <label for="image-{{selectedSize.size.idsize}}" class="form-label">Ảnh</label>
                                                <input class="form-control" type="file" id="image-{{selectedSize.size.idsize}}" onchange="angular.element(this).scope().uploadImage(this.files[0], $index)" />
                                                <img id="preview-{{selectedSize.size.idsize}}" ng-src="{{selectedSize.image}}" alt="Xem trước ảnh" width="100" style="margin-top: 10px;" />
                                            </div>
                                        </div>
                            
                                        <!-- Hành động -->
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary" ng-click="addProduct()" ng-show="!isEditMode">
                                                <i class="fas fa-plus"></i> Thêm
                                            </button>
                                            <button type="button" class="btn btn-info" ng-click="updateProduct()" ng-show="isEditMode">
                                                <i class="fas fa-edit"></i> Cập nhật
                                            </button>
                                            <button type="button" class="btn btn-danger" ng-click="deleteProduct(selectedProduct.idproduct)" ng-show="isEditMode">
                                                <i class="fas fa-trash-alt"></i> Xóa
                                            </button>
                                            <button type="button" class="btn btn-warning" ng-click="loadProducts()">
                                                <i class="fas fa-sync-alt"></i> Làm mới
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            
                                <!-- Nội dung Tab Danh sách -->
                                <div class="tab-pane fade" id="list-tab-pane" role="tabpanel" aria-labelledby="list-tab" tabindex="0">
                                    <div class="custom-block bg-white">
                                        <div class="table-responsive">
                                            <table class="account-table table">
                                                <thead>
                                                    <tr>
                                                        <th>Tên sản phẩm</th>
                                                        <th>Kích thước</th>
                                                        <th>Số lượng</th>
                                                        <th>Danh mục</th>
                                                        <th>Giá</th>
                                                        <th>Ghi chú</th>
                                                        <th>Ảnh</th>
                                                        <th class="text-end">Hành động</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-if="Products.length > 0">
                                                    <tr ng-repeat="product in Products">
                                                        <td>{{ product.product.productname }}</td>
                                                        <td>{{ product.size.sizename }}</td>
                                                        <td>{{ product.quantityinstock }}</td>
                                                        <td>{{ product.product.category.categoryname }}</td>
                                                        <td>{{ product.unitprice | currency }}</td>
                                                        <td>{{ product.product.description || 'không có' }}</td>
                                                        <td>
                                                            <img src="../admin/images/{{product.product.img}}"
                                                                alt="Ảnh sản phẩm" width="50" height="50">
                                                        </td>
                                                        <td class="text-end">
                                                            <button class="btn btn-sm btn-warning"
                                                                ng-click="editProduct(product)">Chỉnh sửa</button>
                                                            <button class="btn btn-sm btn-danger"
                                                                ng-click="confirmDelete(product.idproductdetail)">Xóa</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody ng-if="Products.length == 0">
                                                    <tr>
                                                        <td colspan="8" class="text-center">Không có sản phẩm nào.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center mb-0">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">Prev</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>









            </main>
        </div>
    </div>



    </main>

    </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="../admin/js/jquery.min.js"></script>
    <script src="../admin/js/bootstrap.bundle.min.js"></script>
    <script src="../admin/js/custom.js"></script>
    <script src="../admin/js/product.js"></script>

</body>

</html>