<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>BEE SIX CAKE</title>

  <!-- CSS FILES -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />

  <link href="../admin/css/bootstrap.min.css" rel="stylesheet" />

  <link href="../admin/css/bootstrap-icons.css" rel="stylesheet" />

  <link href="../admin/css/tooplate-mini-finance.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!--

Tooplate 2135 Mini Finance

https://www.tooplate.com/view/2135-mini-finance

Bootstrap 5 Dashboard Admin Template

-->
</head>

<body ng-app="myApp" ng-Co>
  <header class="navbar sticky-top flex-md-nowrap">
    <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
      <a class="navbar-brand" href="index.html">
        <i class="bi-box"></i>
        BEE SIX CAKE
      </a>
    </div>



    <div class="navbar-nav me-lg-2">
      <div class="nav-item text-nowrap d-flex align-items-center">
        <div class="dropdown ps-3">



        </div>



        <div ng-include="'layout/header.html'" ng-controller="CheckLogin"></div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div ng-include="'layout/menu.html'"></div>

      <main class="main-wrapper col-md-9 ms-sm-auto py-2 col-lg-9 px-md-4 border-start">
        <div class="title-group mb-3">
          <h1 class="h2 mb-0">Quản Lý Danh Mục Sản Phẩm</h1>
        </div>

        <div class="row my-4">
          <div class="">
            <div class="custom-block bg-white">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <!-- Đổi vị trí tab "List" lên trước -->
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="password-tab" data-bs-toggle="tab"
                    data-bs-target="#password-tab-pane" type="button" role="tab" aria-controls="password-tab-pane"
                    aria-selected="true"><i class="fas fa-list"></i>  
                    Danh sách danh mục sản phẩm 
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                    type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"> <i class="fas fa-edit"></i> 
                  Thêm  danh mục sản phẩm
                  </button>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent" ng-controller="CategoryController">
                <!-- Đổi tab "List" lên đầu -->
                <div class="tab-pane fade show active" id="password-tab-pane" role="tabpanel"
                  aria-labelledby="password-tab" tabindex="0">
                  <div class="table-responsive">
                    <table class="account-table table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Tên Loại Sản Phẩm</th>
                          <th class="text-end">Hành động</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="category in categories">
                          <td>{{category.idcategory}}</td>
                          <td>{{category.categoryname}}</td>
                          <td class="text-end" style="white-space: nowrap;">
                            <button class="btn btn-sm btn-warning" ng-click="goToEdit(category)" title="Chỉnh sửa">
                              <i class="bi bi-pencil-square"></i> Chỉnh sửa
                            </button>
                            <button class="btn btn-sm btn-danger" ng-click="deleteCategory(category)" title="Xóa">
                              <i class="bi bi-trash"></i> Xóa
                            </button>
                          </td>
                        </tr>
                      </tbody>

                    </table>
                    <nav aria-label="Page navigation" class="mt-4">
                      <ul class="pagination justify-content-center mb-0">
                        <li class="page-item" ng-class="{disabled: currentPage === 1}">
                          <a class="page-link" href="#" aria-label="Previous" ng-click="goToPage(currentPage - 1)">
                            <span aria-hidden="true">&laquo; Trang Trước</span>
                          </a>
                        </li>
                        <li class="page-item" ng-repeat="page in pages" ng-class="{active: currentPage === page}">
                          <a class="page-link" href="#" ng-click="goToPage(page)">{{ page }}</a>
                        </li>
                        <li class="page-item" ng-class="{disabled: currentPage === totalPages}">
                          <a class="page-link" href="#" aria-label="Next" ng-click="goToPage(currentPage + 1)">
                            <span aria-hidden="true">Trang Sau &raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <!-- Thanh Phân Trang -->



                <!-- Tab "Sửa đổi" giữ nguyên -->
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                  tabindex="0">
                  <!-- Form sửa đổi -->
                  <form class="custom-form profile-form" action="#" method="post" role="form">
                    <!-- <p>ID:</p>
                                            <input class="form-control" type="text" name="category-id" id="category-id" ng-model="selectedCategory.idcategory" readonly>
                     -->
                    <p>Tên Loại Sản Phẩm:</p>
                    <input class="form-control" type="text" name="category-name" id="category-name"
                      placeholder="Nhập tên loại sản phẩm" ng-model="selectedCategory.categoryname" />

                    <div class="d-flex justify-content-start mt-3">
                      <button type="button" class="btn btn-primary " id="add-btn" ng-click="addCategory()"
                        ng-if="!isEditing">
                        <i class="fas fa-plus"></i> Thêm
                      </button>
                      <button type="button" class="btn btn-info" id="edit-btn" ng-click="editCategory()"
                        ng-if="isEditing">
                        <i class="fas fa-edit"></i> Sửa
                      </button>
                      <button type="reset" class="btn btn-secondary " id="reset-btn" ng-click="resetForm()">
                        <i class="fas fa-sync-alt"></i> Làm mới
                      </button>
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="site-footer"></footer>
      </main>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Thông báo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="messageModalBody">
          <!-- Nội dung thông báo -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Hủy
          </button>
          <button type="button" id="confirmModalButton" class="btn btn-danger" style="display: none"
            data-bs-dismiss="modal">
            Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Hàm dùng để hiển thị modal với thông báo
    function showMessageModal(
      message,
      isConfirm = false,
      confirmCallback = null
    ) {
      document.getElementById("messageModalBody").innerText = message;

      const confirmButton = document.getElementById("confirmModalButton");
      if (isConfirm) {
        confirmButton.style.display = "inline-block";
        // Xóa các sự kiện cũ trước khi thêm sự kiện mới
        confirmButton.replaceWith(confirmButton.cloneNode(true));
        const newConfirmButton =
          document.getElementById("confirmModalButton");
        newConfirmButton.style.display = "inline-block";
        newConfirmButton.addEventListener("click", function () {
          if (typeof confirmCallback === "function") {
            confirmCallback();
          }
        });
      } else {
        confirmButton.style.display = "none";
        confirmButton.onclick = null;
      }

      const myModalElement = document.getElementById("messageModal");
      const myModal = new bootstrap.Modal(myModalElement);
      myModal.show();
    }
  </script>

  <!-- JAVASCRIPT FILES -->
  <script src="../admin/js/category.js"></script>
  <script src="../admin/js/jquery.min.js"></script>
  <script src="../admin/js/bootstrap.bundle.min.js"></script>
  <script src="../admin/js/custom.js"></script>
</body>

</html>