<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BEE SIX CAKE</title>
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="../admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="../admin/css/bootstrap-icons.css" rel="stylesheet">
    <link href="../admin/css/apexcharts.css" rel="stylesheet">
    <link href="../admin/css/tooplate-mini-finance.css" rel="stylesheet">
  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>

</head>

<body ng-app="myApp">

    <div class="container-fluid">
        <header class="navbar sticky-top flex-md-nowrap">
            <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
                <a class="navbar-brand" href="index.html">
                    <i class="bi-box"></i> BEE SIX CAKE
                </a>
            </div>
    
      

            <div class="navbar-nav me-lg-2">
                <div class="nav-item text-nowrap d-flex align-items-center">
                    <!-- Notifications Dropdown -->
                 
    
                    <!-- User Profile Dropdown -->
                    <div ng-include="'layout/header.html'" ng-controller="CheckLogin"></div>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar Menu -->
                <div ng-include="'layout/menu.html'"></div>

                <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
                    <div class="title-group mb-4">
                        <h1 class="h2 mb-0">Tồn Kho Theo Loại</h1>
                    </div>
                    <div class="row" ng-controller="discountsController">
                        <div class="col-12">
                            <div class="custom-block">
                                <div id="pie-chart"></div>
                            </div>
                            
                            <div class="card">
                                <div class="card-header">
                                    Bảng hiển thị dữ liệu
                                </div>
                                <div class="card-body">
                                 
                                    <table class="table table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Loại Sản Phẩm</th>
                                                <th>Số Lượng Tồn Kho</th>
                                                <!-- <th>Giá</th>
                                                <th>Giá Trị Tồn Kho</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="stat in groupedOrderDetails">
                                                <td>{{stat.categoryName}}</td> <!-- Loại sản phẩm -->
                                                <td>{{stat.totalQuantity}}</td> <!-- Số lượng tồn kho -->
                                                <!-- <td>{{formatCurrency(stat.price)}}</td> Giá -->
                                                <!-- <td>{{formatCurrency(stat.totalQuantity * stat.price)}}</td> Giá trị tồn kho -->
                                            </tr>
                                            <tr ng-if="groupedOrderDetails.length === 0">
                                                <td colspan="4">Không có dữ liệu</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <button ng-click="exportToExcel()" class="btn btn-success">Xuất Excel</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="site-footer">
                        <!-- Footer omitted for brevity -->
                    </footer>
                </main>
            </div>
        </div>
    </div>

    <script src="../admin/js/jquery.min.js"></script>
    <script src="../admin/js/bootstrap.bundle.min.js"></script>
    <script src="../admin/js/apexcharts.min.js"></script>
    <script src="../admin/js/revenue.js"></script>

</body>
</html>