<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mini Finance - Settings</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>



    <link href="../admin/css/bootstrap.min.css" rel="stylesheet">

    <link href="../admin/css/bootstrap-icons.css" rel="stylesheet">

    <link href="../admin/css/tooplate-mini-finance.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




    <!--

    Tooplate 2135 Mini Finance

    https://www.tooplate.com/view/2135-mini-finance

    Bootstrap 5 Dashboard Admin Template

    -->
</head>

<body  class="row my-4" ng-app="myApp" ng-controller="SizeController">
    <header class="navbar sticky-top flex-md-nowrap">
        <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
            <a class="navbar-brand" href="index.html">
                <i class="bi-box"></i>
                BEE SIX CAKE </a>
        </div>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0"
            action="#" method="get" role="form">
            <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
        </form>

        <div class="navbar-nav me-lg-2">
            <div class="nav-item text-nowrap d-flex align-items-center">
                <!-- Notifications Dropdown -->
                <div class="dropdown ps-3">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-bell"></i>
                        <span
                            class="position-absolute start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </a>

                    <ul class="dropdown-menu notifications-block-wrap bg-white shadow">
                        <small>Notifications</small>
                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-success">
                                    <i class="notifications-icon bi-check-circle-fill"></i>
                                </div>
                                <div>
                                    <span>Your account has been created successfully.</span>
                                    <p>12 days ago</p>
                                </div>
                            </a>
                        </li>
                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-info">
                                    <i class="notifications-icon bi-folder"></i>
                                </div>
                                <div>
                                    <span>Please check. We have sent a Daily report.</span>
                                    <p>10 days ago</p>
                                </div>
                            </a>
                        </li>
                        <li class="notifications-block">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-danger">
                                    <i class="notifications-icon bi-question-circle"></i>
                                </div>
                                <div>
                                    <span>Account verification failed.</span>
                                    <p>1 hour ago</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Social Media Dropdown -->
                <div class="dropdown ps-1">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-three-dots-vertical"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-social bg-white shadow">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="images/social/search.png" class="profile-image img-fluid"
                                            alt="Google">
                                        <span class="d-block">Google</span>
                                    </a>
                                </div>
                                <!-- More social media links here -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- User Profile Dropdown -->
                <div ng-include="'layout/header.html'" ng-controller="CheckLogin"></div>
            </div>
        </div>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Menu -->
            <div ng-include="'layout/menu.html'"></div>

            <!-- Main Content -->
            <main class="main-wrapper col-md-9 ms-sm-auto py-2 col-lg-9 px-md-4 border-start">
                <div class="title-group mb-3">
                    <h1 class="h2 mb-0">Quản Lý Kích Thước</h1>
                </div>
                <!-- Tabs -->
                <div>
                    <div class="col-12">
                        <div class="custom-block bg-white">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="list-tab" data-bs-toggle="tab"
                                        data-bs-target="#list-tab-pane" type="button" role="tab"
                                        aria-controls="list-tab-pane" aria-selected="true">
                                        <i class="fas fa-list"></i> Danh sách kích thước
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="edit-tab" data-bs-toggle="tab"
                                        data-bs-target="#edit-tab-pane" type="button" role="tab"
                                        aria-controls="edit-tab-pane" aria-selected="false">
                                        <i class="fas fa-edit"></i> Chỉnh sửa kích thước
                                    </button>
                                </li>
                               
                            </ul>

                            <div class="tab-content" id="myTabContent">
                                <!-- Nội dung Tab Chỉnh sửa -->
                                <div class="tab-pane fade" id="edit-tab-pane" role="tabpanel" aria-labelledby="edit-tab"
                                    tabindex="0">
                                    <form class="row g-3 needs-validation" novalidate>
                                        <div ng-if="message" class="alert" ng-class="{
                            'alert-success': messageType === 'success',
                            'alert-danger': messageType === 'error',
                            'alert-info': messageType === 'info',
                            'alert-warning': messageType === 'warning'
                        }" role="alert">
                                            {{ message }}
                                        </div>
                                        <!-- ID Size -->
                                        <!-- <div class="col-md-6">
                            <label for="size-id" class="form-label">ID Size</label>
                            <input type="text" id="size-id" ng-model="selectedSize.idsize" placeholder="" class="form-control" required readonly />
                        </div> -->

                                        <!-- Kích thước -->
                                        <div class="col-md-12">
                                            <label for="size-name" class="form-label">Kích Thước</label>
                                            <input type="text" id="size-name" ng-model="selectedSize.sizename"
                                                class="form-control form-control-rounded" placeholder="Nhập kích thước"
                                                required />
                                        </div>

                                        <!-- Hành động -->
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary" ng-click="addSize()"
                                                ng-show="!isEditMode">
                                                <i class="fas fa-plus"></i> Thêm
                                            </button>
                                            <!-- Nút Cập nhật -->
                                            <button type="button" class="btn btn-info" ng-click="updateSize()"
                                                ng-show="isEditMode">
                                                <i class="fas fa-edit"></i> Cập nhật
                                            </button>
                                            <!-- Nút Xóa -->
                                            <button type="button" class="btn btn-danger"
                                                ng-click="deleteSize(selectedSize.idsize)" ng-show="isEditMode">
                                                <i class="fas fa-trash-alt"></i> Xóa
                                            </button>
                                            <!-- Nút Làm mới -->
                                            <button type="button" class="btn btn-secondary ms-2" ng-click="loadSizes()">
                                                <i class="fas fa-sync-alt"></i> Làm mới
                                            </button>
                                        </div>
                                    </form>
                                </div>

                                <!-- Nội dung Tab Danh sách -->
                                <div class="tab-pane fade show active" id="list-tab-pane" role="tabpanel"
                                    aria-labelledby="list-tab" tabindex="0">
                                    <div class="custom-block bg-white">
                                        <div class="table-responsive">
                                            <table class="account-table table">
                                                <thead>
                                                    <tr>
                                                        <th>ID Size</th>
                                                        <th>Kích thước</th>
                                                        <th class="text-end">Hành động</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-if="Sizes.length > 0">
                                                    <tr ng-repeat="size in Sizes">
                                                        <td>{{ size.idsize }}</td>
                                                        <td>{{ size.sizename }}</td>
                                                        <td class="text-end">
                                                            <button class="btn btn-sm btn-warning"
                                                                ng-click="editSize(size)">Chỉnh sửa</button>
                                                            <button class="btn btn-sm btn-danger"
                                                                ng-click="deleteSize(size.idsize)">Xóa</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody ng-if="Sizes.length == 0">
                                                    <tr>
                                                        <td colspan="3" class="text-center">Không có kích thước nào.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center mb-0">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">Prev</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="#">1</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">3</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="messageModalBody">
                <!-- Nội dung thông báo -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" id="confirmModalButton" class="btn btn-danger" style="display: none;" data-bs-dismiss="modal">Xác nhận</button>
            </div>
        </div>
    </div>
</div>










            </main>
        </div>
    </div>



    </main>

    </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    <script src="../admin/js/jquery.min.js"></script>
    <script src="../admin/js/bootstrap.bundle.min.js"></script>
    <script src="../admin/js/custom.js"></script>
    <script src="../admin/js/size.js"></script>

</body>

</html>