<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mini Finance - Settings</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>



    <link href="../admin/css/bootstrap.min.css" rel="stylesheet">

    <link href="../admin/css/bootstrap-icons.css" rel="stylesheet">

    <link href="../admin/css/tooplate-mini-finance.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>

    <script src="js/angular.min.js"></script>

    <script src="js/angular-route.js"></script>

    <style>
        /* Container for the custom block with the table and pagination */
        .custom-block {
            display: flex;
            flex-direction: column;
            min-height: 500px;
            /* Adjust as needed to set the minimum height */
            justify-content: space-between;
        }

        /* Table responsiveness and styles */
        .table-responsive {
            flex-grow: 1;
            margin-bottom: 20px;
            /* Adds space between table and pagination */
        }

        /* Ensures pagination stays in a consistent position */
        .pagination {
            margin-top: auto;
            /* Automatically positions pagination at the end of the flex container */
        }


        .account-table th {
            font-size: 16px;
        }

        .modal-order {
            max-width: 70vw;
            /* Đặt kích thước tối đa cho modal là 80% chiều rộng của màn hình */
            margin: 1.75rem auto;
            /* Căn giữa modal */
        }

        .modal-content {
            width: 100%;
            /* Đảm bảo nội dung modal chiếm toàn bộ chiều rộng của modal */
            overflow-x: auto;
            /* Cho phép cuộn ngang nếu bảng quá rộng */
        }

        .table-order {
            width: 100%;
            /* Đặt bảng chiếm toàn bộ chiều rộng của modal */
            margin-bottom: 1rem;
            /* Tạo khoảng cách giữa bảng và các phần tử khác */
            overflow-x: auto;
            /* Cho phép cuộn nếu bảng vượt quá chiều rộng của modal */
        }

        .table-header {
            white-space: nowrap;
            /* Ngăn các cột có nội dung dài tự động xuống dòng */
            text-align: center;
            /* Căn giữa nội dung trong bảng */
            vertical-align: middle;
            /* Căn giữa theo chiều dọc */
        }

        .table-cell {
            text-align: center;
            /* Căn giữa nội dung trong ô bảng */
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            /* Căn tiêu đề và nút đóng ở hai đầu modal */
            align-items: center;
        }

        .product-image {
            max-width: 50px;
            /* Đặt kích thước tối đa cho ảnh trong bảng */
            height: auto;
        }

        .total-amount {
            font-weight: bold;
            /* Làm nổi bật tổng tiền */
        }

        .modal-backdrop {
            transition: opacity 0.15s linear;
            /* Thay đổi thời gian này nếu cần */
        }

        .modal-backdrop.fade {
            opacity: 0;
        }

        .modal-backdrop.show {
            z-index: -1;
        }

        .modal-footer {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            /* Căn đều phần bên trái và bên phải */
            align-items: center;
            /* Căn các phần tử theo chiều dọc */
        }

        .row {
            display: flex;
            width: 100%;
        }

        .order-footer-right {
            /* Giới hạn chiều rộng để các phần tử không bị quá rộng */
            padding-left: 50px;

        }

        .border-tt {
            border: 1px solid gray;
            margin-top: 20px;
            padding: 20px;
        }

        .order-footer-right div {
            margin-bottom: 5px;
            /* Giảm khoảng cách giữa các phần tử */
        }

        .order-footer-right h6 {
            font-weight: normal;

        }

        .order-footer-right h6 span {
            float: right;
        }

        .total-amount {
            font-weight: bold;
            color: #d9534f;
            /* Màu đỏ để làm nổi bật tổng tiền */
        }
    </style>

</head>

<body>
    <header class="navbar sticky-top flex-md-nowrap">
        <div class="col-md-3 col-lg-3 me-0 px-3 fs-6">
            <a class="navbar-brand" href="index.html">
                <i class="bi-box"></i>
                BEE SIX CAKE
            </a>
        </div>

        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="custom-form header-form ms-lg-3 ms-md-3 me-lg-auto me-md-auto order-2 order-lg-0 order-md-0"
            action="#" method="get" role="form">
            <input class="form-control" name="search" type="text" placeholder="Search" aria-label="Search">
        </form>

        <div class="navbar-nav me-lg-2">
            <div class="nav-item text-nowrap d-flex align-items-center">
                <!-- Notifications Dropdown -->
                <div class="dropdown ps-3">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-bell"></i>
                        <span
                            class="position-absolute start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </a>

                    <ul class="dropdown-menu notifications-block-wrap bg-white shadow">
                        <small>Notifications</small>
                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-success">
                                    <i class="notifications-icon bi-check-circle-fill"></i>
                                </div>
                                <div>
                                    <span>Your account has been created successfully.</span>
                                    <p>12 days ago</p>
                                </div>
                            </a>
                        </li>
                        <li class="notifications-block border-bottom pb-2 mb-2">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-info">
                                    <i class="notifications-icon bi-folder"></i>
                                </div>
                                <div>
                                    <span>Please check. We have sent a Daily report.</span>
                                    <p>10 days ago</p>
                                </div>
                            </a>
                        </li>
                        <li class="notifications-block">
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="notifications-icon-wrap bg-danger">
                                    <i class="notifications-icon bi-question-circle"></i>
                                </div>
                                <div>
                                    <span>Account verification failed.</span>
                                    <p>1 hour ago</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Social Media Dropdown -->
                <div class="dropdown ps-1">
                    <a class="nav-link dropdown-toggle text-center" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-three-dots-vertical"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-social bg-white shadow">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-4">
                                    <a class="dropdown-item text-center" href="#">
                                        <img src="images/social/search.png" class="profile-image img-fluid"
                                            alt="Google">
                                        <span class="d-block">Google</span>
                                    </a>
                                </div>
                                <!-- More social media links here -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- User Profile Dropdown -->
                <div class="dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="images/medium-shot-happy-man-smiling.jpg" class="profile-image img-fluid"
                            alt="User Profile">
                    </a>
                    <ul class="dropdown-menu bg-white shadow">
                        <li>
                            <div class="dropdown-menu-profile-thumb d-flex">
                                <img src="images/medium-shot-happy-man-smiling.jpg" class="profile-image img-fluid me-3"
                                    alt="User Profile">
                                <div class="d-flex flex-column">
                                    <small>Thomas</small>
                                    <a href="#">thomas@site.com</a>
                                </div>
                            </div>
                        </li>
                        <!-- Profile and Settings Links -->
                        <li>
                            <a class="dropdown-item" href="profile.html">
                                <i class="bi-person me-2"></i>
                                Profile
                            </a>
                        </li>
                        <!-- More profile options here -->
                        <li class="border-top mt-3 pt-2 mx-4">
                            <a class="dropdown-item ms-0 me-0" href="#">
                                <i class="bi-box-arrow-left me-2"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar Menu -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
                <div class="position-sticky py-4 px-3 sidebar-sticky">
                    <ul class="nav flex-column h-100">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html">
                                <i class="bi-house-fill me-2"></i>
                                Trang Chủ
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                                <a class="nav-link" href="wallet.html">
                                    <i class="bi-wallet me-2"></i>
                                    My Wallet
                                </a>
                            </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="accounts.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Người Dùng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="product-type.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Loại Sản Phẩm
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="size.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Kích Thước
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="product.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Sản Phẩm
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="wallet.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Đơn hàng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Discount.html">
                                <i class="bi-person me-2"></i>
                                Quản Lý Khuyến Mãi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="profile.html">
                                <i class="bi-person me-2"></i>
                                Quản lý doanh thu
                            </a>
                        </li>

                        <li class="nav-item border-top mt-auto pt-2">
                            <a class="nav-link" href="#">
                                <i class="bi-box-arrow-left me-2"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="main-wrapper col-md-9 ms-sm-auto py-2 col-lg-9 px-md-4 border-start">
                <div class="title-group mb-3">
                    <h1 class="h2 mb-0">Quản Lý Đơn Hàng</h1>
                </div>

                <!-- Tabs -->
                <div class="row my-4" ng-app="myApp" ng-controller="OrderController">
                    <div class="col-12">
                        <div class="custom-block bg-white">
                            <div class="tab-content" id="myTabContent">
                                <!-- Danh Sách Đơn Hàng Tab -->
                                <div class="tab-pane fade show active" id="list-tab-pane" role="tabpanel"
                                    aria-labelledby="list-tab" tabindex="0">
                                    <div class="table-responsive">
                                        <table class="account-table table">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Mã Đơn Hàng</th>
                                                    <th class="text-center">Thời Gian Đặt Hàng</th>
                                                    <th class="text-center">Tổng Tiền</th>
                                                    <th class="text-center">Trạng Thái Đơn Hàng</th>
                                                    <th class="text-center">Trạng Thái Thanh Toán</th>
                                                    <th class="text-center">Hành Động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="order in paginatedOrders"
                                                    style="text-align: center; font-size: 16px;">
                                                    <td>{{ order.idorder }}</td>
                                                    <td>{{ order.orderdate | date:'HH:mm:ss - dd/MM/yyyy' }}</td>
                                                    <td>{{ order.total | number : 0}} ₫</td>
                                                    <td>{{ order.statusName }}</td>
                                                    <td>{{ order.statuspay.statuspayname }}</td>
                                                    <td class="">
                                                        <button type="button" class="btn btn-sm btn-primary"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#modal-{{order.idorder}}"
                                                            ng-click="openOrderModal(order)">Chi Tiết
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Thanh Phân Trang -->
                            <nav aria-label="Page navigation" class="mt-4">
                                <ul class="pagination justify-content-center mb-0">
                                    <li class="page-item" ng-class="{disabled: currentPage === 1}">
                                        <a class="page-link" href="#" aria-label="Previous"
                                            ng-click="goToPage(currentPage - 1)">
                                            <span aria-hidden="true">&laquo; Trang Trước</span>
                                        </a>
                                    </li>
                                    <li class="page-item" ng-repeat="page in pages"
                                        ng-class="{active: currentPage === page}">
                                        <a class="page-link" href="#" ng-click="goToPage(page)">{{ page }}</a>
                                    </li>
                                    <li class="page-item" ng-class="{disabled: currentPage === totalPages}">
                                        <a class="page-link" href="#" aria-label="Next"
                                            ng-click="goToPage(currentPage + 1)">
                                            <span aria-hidden="true">Trang Sau &raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="modal-{{order.idorder}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true" ng-repeat="order in Orders"
                        data-bs-backdrop="static" ng-click="openOrderModal(order)">
                        <div class="modal-dialog modal-order">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Chi tiết đơn hàng
                                        {{order.idorder}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <div class="mb-3" style="border: 1px solid grey; padding: 10px;">
                                        <p style="font-weight: bold; color: black;">Thông tin khách hàng</p>
                                        <table class="account-table table table-order mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Tên Tài Khoản</th>
                                                    <th class="text-center">Tên Khách Hàng</th>
                                                    <th class="text-center">Số Điện Thoại</th>
                                                    <th class="text-center">Địa Chỉ Nhận Hàng</th>
                                            </thead>
                                            <tbody>
                                                <tr style="text-align: center; font-size: 16px;">
                                                    <td>{{ order.account.idaccount }}</td>
                                                    <td>{{ order.account.fullname }}</td>
                                                    <td>{{ order.account.phonenumber }}</td>
                                                    <td>{{ order.addressdetail }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-show="message" class="alert"
                                        ng-class="{'alert-success': messageType === 'success', 'alert-danger': messageType === 'error'}">
                                        {{ message }}
                                    </div>
                                    <!-- Table content for order details -->
                                    <div style="border: 1px solid grey; padding: 10px;">
                                        <p style="font-weight: bold; color: black;">Thông tin đơn hàng</p>
                                        <table class="account-table table table-order mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Hình ảnh</th>
                                                    <th scope="col">Tên sản phẩm</th>
                                                    <th scope="col">Số lượng</th>
                                                    <th scope="col">Kích cỡ</th>
                                                    <th scope="col">Giá sản phẩm</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="detail in orderDetails" style="font-size: 16px;">
                                                    <td><img ng-src="{{imageBaseUrl + detail.productdetail.product.img}}"
                                                            class="product-image"></td>
                                                    <td>{{detail.productdetail.product.productname}}</td>
                                                    <td>{{detail.quantity}}</td>
                                                    <td>{{detail.productdetail.size.sizename}}</td>
                                                    <td>{{detail.productdetail.unitprice | number: 0}} ₫</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-lg-7 order-footer-left">
                                            <p class="fw-bold mb-2">Trạng thái đơn hàng</p>
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                <label class="btn btn-primary"
                                                    ng-class="{'active': selectedOrder.status.idstatus == 1}">
                                                    <input type="radio" ng-model="selectedOrder.status.idstatus"
                                                        ng-checked="selectedOrder.status.idstatus == 1" value="1"
                                                        autocomplete="off" /> Chờ Xác Nhận

                                                </label>
                                                <label class="btn btn-info"
                                                    ng-class="{'active': selectedOrder.status.idstatus == 2}">
                                                    <input type="radio" ng-model="selectedOrder.status.idstatus"
                                                        ng-checked="selectedOrder.status.idstatus == 2" value="2"
                                                        autocomplete="off" /> Chờ Giao Hàng

                                                </label>
                                                <label class="btn btn-warning"
                                                    ng-class="{'active': selectedOrder.status.idstatus == 3}">
                                                    <input type="radio" ng-model="selectedOrder.status.idstatus"
                                                        ng-checked="selectedOrder.status.idstatus == 3" value="3"
                                                        autocomplete="off" /> Đã Giao Hàng
                                                </label>
                                                <label class="btn btn-danger"
                                                    ng-class="{'active': selectedOrder.status.idstatus == 4}">
                                                    <input type="radio" ng-model="selectedOrder.status.idstatus"
                                                        ng-checked="selectedOrder.status.idstatus == 4" value="4"
                                                        autocomplete="off" /> Đã Hủy
                                                </label>
                                            </div>

                                            <button class="btn btn-primary" ng-click="updateOrderStatus()"
                                                style="float: right;" ng-disabled="isUpdating">
                                                Cập nhật
                                            </button>

                                            <!-- Trạng thái thanh toán -->
                                            <div class="mt-4">
                                                <p class="fw-bold mb-2">Trạng thái thanh toán</p>
                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <!-- Chỉ hiển thị nút 'Chưa Thanh Toán' nếu trạng thái hiện tại là 1 -->
                                                    <label class="btn btn-danger"
                                                        ng-class="{'active': selectedOrder.statuspay.idstatuspay == 1}"
                                                        ng-if="selectedOrder.statuspay.idstatuspay == 1">
                                                        <input type="radio"
                                                            ng-model="selectedOrder.statuspay.idstatuspay" ng-value="1"
                                                            autocomplete="off"> Chưa Thanh Toán
                                                    </label>
                                                    <!-- Luôn hiển thị nút 'Đã Thanh Toán' -->
                                                    <label class="btn btn-success"
                                                        ng-class="{'active': selectedOrder.statuspay.idstatuspay == 2}">
                                                        <input type="radio"
                                                            ng-model="selectedOrder.statuspay.idstatuspay" ng-value="2"
                                                            autocomplete="off"> Đã Thanh Toán
                                                    </label>
                                                </div>

                                                <button class="btn btn-primary" ng-click="updateOrderStatusPay()"
                                                    style="float: right;"
                                                    ng-disabled="isUpdating || (selectedOrder.statuspay.idstatuspay == originalPaymentStatus)">
                                                    Cập nhật
                                                </button>
                                            </div>

                                        </div>
                                        <div class="col-lg-5 order-footer-right">
                                            <div class="border-tt">
                                                <h6>Tổng tiền sản phẩm: <span>{{ calculateTotalProductPrice() | number:
                                                        0 }} ₫</span></h6>
                                                <h6>Phí vận chuyển: <span>{{selectedOrder.shipfee | number : 0}}
                                                        ₫</span>
                                                </h6>
                                                <h6>Giảm giá: <span>{{ selectedOrder.discount ? (selectedOrder.discount
                                                        | number: 0) : 0 }} ₫</span></h6>
                                                <h6>Tổng tiền theo đơn hàng: <span
                                                        class="total-amount">{{selectedOrder.total | number: 0}}
                                                        ₫</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </main>
        </div>
    </div>
    </main>

    <!-- JAVASCRIPT FILES -->
    <script src="../admin/js/jquery.min.js"></script>
    <script src="../admin/js/bootstrap.bundle.min.js"></script>
    <script src="../admin/js/custom.js"></script>
    <script src="../admin/js/order.js"></script>
    <script>
        $(document).ready(function () {
            // Khi modal bị đóng
            $('.modal').on('hidden.bs.modal', function () {
                // Xóa lớp 'show' để kích hoạt hiệu ứng fade-out
                $('.modal-backdrop').removeClass('show');

                // Đặt thời gian chờ để đảm bảo hiệu ứng hoàn tất trước khi xóa thẻ
                setTimeout(function () {
                    // Xóa thẻ backdrop khỏi DOM
                    $('.modal-backdrop').remove();
                    // Xóa lớp 'modal-open' khỏi body
                    $('body').removeClass('modal-open');
                }, 150); // Thời gian tương ứng với thời gian hiệu ứng fade-out
            });
        });
    </script>



</body>

</html>