<footer class="mt-3 container-fluid">
    <div class="row" style="font-size:0.8em;letter-spacing:0.2em;">
        <div class="col-lg-4">
            <ul class="list-unstyled" style="padding-left: 150px; padding-right: 40px;">
                <li>
                    <a class="nav-link" href="#">
                        <img src="" alt="">logo
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        <p><b>Chào mừng đến với BeeSixCake</b> <br>
                            Chúng tôi chuyên cung cấp đa dạng các loại bánh ngọt ngon miệng. Tất cả đều được làm từ nguyên liệu tươi ngon, đảm bảo hương vị
                            tuyệt vời chất lượng cho mọi dịp.</p>
                    </a>
                </li>          
            </ul>
        </div>
        <div class="col-lg-2" style="padding-right: 0;">
            <ul class="list-unstyled border-start py-1">
                <li>
                    <p class="pt-title">THÔNG TIN CHUNG</p>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        <p class="ft-icon"><i class="bi bi-telephone-fill"></i> 0971513720</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        <p class="ft-icon"><i class="bi bi-envelope-fill"></i> beesixcake@gmail.com</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        <p class="ft-icon"><i class="bi bi-geo-alt-fill"></i> 22, Thường Thạnh, Cái Răng, CT</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul class="list-unstyled border-start py-1">
                <li>
                    <p class="pt-title">VỀ CHÚNG TÔI</p>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        <p>Trang Chủ</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        <p>Giới Thiệu</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="#">
                        <p>Liên Hệ</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <ul class="list-unstyled border-start py-1">
                <li>
                    <p class="pt-title">HỖ TRỢ KHÁCH HÀNG</p>
                </li>
                <li>
                    <a class="nav-link">
                        <p>Hướng dẫn mua hàng</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link">
                        <p>Thanh toán & Vận chuyển</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link">
                        <p>Chính sách đổi trả hàng</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>