<header class="container-fluid parent-header">
    <div class="row">
        <div class="col-md-6 header-left">
            <div class="Notification me-3 ps-3">
                <a class="text-header-left" href=""><i class="bi bi-bell-fill"></i> Thông
                    báo</a>
            </div>
            <div class="love me-3">
                <a class="text-header-left" href="#"><i class="bi bi-heart-fill"></i> Yêu
                    thích </a>
            </div>
            <div class="map me-3">
                <a class="text-header-left" href="https://maps.app.goo.gl/v9WaZ4dhJUMYh8jz5"><i
                        class="bi bi-map-fill"></i> Địa chỉ trên
                    map</a>
            </div>
            <div id="languageDropdown1" class="language nav-item dropdown">
                <span class="text-header-left dropdown-toggle" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-globe"></i> Tiếng Việt
                </span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark1">
                    <li><a class="dropdown-item" href="#" data-lang="Tiếng Việt">Tiếng Việt</a></li>
                    <li><a class="dropdown-item" href="#" data-lang="English">English</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <div class="topContai mt-3 ms-3" style="width: 156px; height: 46px;">
                        <div class="row text-header-right">
                            <div class="col-3 ">
                                <div class="fs-4"><i style="font-size: 28px; margin-top: 9px;"
                                    class="bi bi-telephone-fill"></i></div>
                            </div>
                            <div class="col-9 ">
                                <strong style="font-size: 16px;">0900.980.880</strong>
                                <p style="font-size: 13px;">Hỗ trợ</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="topContai mt-3" style="width: 156px; height: 46px;">
                        <div class="row text-header-right">
                            <div class="col-3">
                                <div class="fs-4"><i style="font-size: 28px;" class="bi bi-clock-fill"></i></div>
                            </div>
                            <div class="col-9">
                                <strong style="font-size: 16px;">6AM- 22:00PM</strong><br>
                                <p style="font-size: 13px;">Thời gian làm việc</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="topContai mt-3 " style="width: 160px; height: 46px;">
                        <a href="order.html">
                            <div class="row text-header-right">
                                <div class="col-3">
                                    <div class="fs-4"><i style="font-size: 28px;" class="bi bi-box-fill"></i></div>
                                </div>
                                <div class="col-9">
                                    <strong style="font-size: 16px;">(0) Đơn hàng</strong><br>
                                    <p style="font-size: 13px;">Thông tin đơn hàng</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="topContai mt-3" style="width: 160px; height: 46px;">
                    <span class="text-header-right dropdown-toggle fw-bold" style="font-size: 18px;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i style="font-size: 28px;" class="bi bi-person-fill"></i> 
                        <span ng-if="!isLoggedIn">Tài khoản</span>
                        <span ng-if="isLoggedIn">{{ loggedInUser.idaccount }}</span>
                    </span>
                    <ul class="dropdown-menu">
                        <li ng-if="!isLoggedIn"><a class="dropdown-item" href="/src/main/resources/templates/assets/login.html" data-lang="Tiếng Việt">Đăng nhập</a></li>
                        <li ng-if="!isLoggedIn"><a class="dropdown-item" href="/src/main/resources/templates/assets/register.html" data-lang="English">Đăng ký</a></li>
                        <li ng-if="isLoggedIn"><a class="dropdown-item" href="/src/main/resources/templates/assets/Information.html" data-lang="English">Thông tin cá nhân</a></li>
                        <li ng-if="isLoggedIn"><a class="dropdown-item" href="/src/main/resources/templates/assets/addrest.html" data-lang="English">Địa Chỉ</a></li>
                        <li ng-if="isLoggedIn"><a class="dropdown-item" href="/src/main/resources/templates/assets/changepassword.html" data-lang="English"> Đỗi mật khẩu</a></li>
                        <li ng-if="isLoggedIn"><a class="dropdown-item" href="#" ng-click="logout()">Đăng xuất</a></li>
                    </ul>
                </div>
                
                
            </div>
        </div>
    </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#languageDropdown1 .dropdown-item').click(function () {
                var selectedLang = $(this).data('lang');
                $('#languageDropdown1 .dropdown-toggle').html('<i class="bi bi-globe2"></i> ' + selectedLang);
            });
        });
    </script>
</header>