body {
  font-family: roboto;
  color: #2e1d15;
}

a {
  text-decoration: none;
}

/* header */
.parent-header {
  background-color: #d38450;
  color: white;
  padding-top: 5px;
  padding-bottom: 40px;
}

.text-header-left,
.text-header-right {
  color: white;
  text-decoration: none;
}

.header-left {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.Notification,
.love,
.map,
.language {
  margin-right: 15px;
}

/* menu */
.parent-menu {
  background-color: white;
  color: #2e1d15;
  border-radius: 30px;
  font-weight: bold;
  position: fixed;
  width: 90%;
  font-size: 24px;
  box-shadow: 0px 0px 6px 2px #555;

}

.menu div ul li a {
  font-weight: bold;
}

.menu div div ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-right {
  float: right;
  margin-right: 30px;
}

.menu-left {
  float: left;
  margin-left: 30px;
}

/* cart */
.cart {
  font-size: 1.5rem;
  position: relative;
}

.cart-count {
  position: absolute;
  top: -4px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 60%;
  padding: 2px 7px;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Tìm kiếm */
.SPTimKiem {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* Đặt sản phẩm bắt đầu từ bên trái */
  gap: 15px;
  /* Khoảng cách giữa các sản phẩm */
  padding: 10px;
  /* Thêm khoảng cách giữa các sản phẩm và rìa modal */
}

.cart-item-timkiem {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  width: 250px;
  /* Đặt độ rộng cho sản phẩm */
}

.cart-image img {
  border-radius: 8px;
  margin-right: 15px;
}

.cart-details h5 {
  margin: 0;
  font-size: 1rem;
}

.cart-details p {
  margin: 5px 0 0;
  color: #555;
}

#exampleModal .modal-dialog {
  margin: 0 auto; /* Giữ modal ở giữa theo chiều ngang */
  top: 17%; /* Đặt modal cách phía trên một khoảng */
  position: absolute; /* Định vị tuyệt đối để có thể tùy chỉnh vị trí */
  right: 5%;
}

/* Slide */

.slide{
  z-index: -1;;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  border-color: #df3138; /* Khi hover, viền chuyển thành màu đỏ */
}

.prev-icon,
.next-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(222, 226, 230); /* Viền xung quanh biểu tượng */
  border-radius: 50%; /* Bo tròn biểu tượng bên trong */
  font-size: 26px;
  padding: 10px; /* Giảm padding để phù hợp với kích thước border */
  width: 50px; /* Tăng kích thước để chứa icon và border */
  height: 50px;
  margin-top: 60px;
  color: #fff;
}

.prev-icon:hover,
.next-icon:hover {
  background-color: #d38450; /* Biểu tượng đổi màu khi hover */
  border-color: #d38450; /* Đổi màu viền khi hover */
  color: white; /* Đổi màu icon khi hover */
}

/* Sản phẩm */

.loc-sp {
  border: 1px solid rgb(222, 226, 230);
}

.loc-sp.active {
  color: white;
  background-color: #d38450;
}

.tenTheSP {
  font-size: 14px;
  color: #2e1d15;
}

.pd-box {
  border: 1px solid rgb(222, 226, 230);
  width: 195px;
  border-radius: 10px;
  /* Bo góc cho thẻ sản phẩm */
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  /* Hiệu ứng khi hover */
}

.pd-box:hover {
  box-shadow: 0px 0px 4px 2px #d38450;
  /* Hiệu ứng đổ bóng khi hover */
}

.box-images img {
  border-radius: 10px 10px 0 0;
  /* Bo góc phần hình ảnh */
  width: 100%;
  height: auto;
  /* Hình ảnh tự điều chỉnh kích thước */
  transition: transform 0.3s ease;
}

.box-images img:hover {
  transform: scale(1.05);
}

.sale-off {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.box-content {
  padding: 15px;
  text-align: center;
}

.box-content h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.box-content h3 a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.price-drop {
  color: red;
  font-size: 14px;
  margin-right: 10px;
  text-decoration: line-through;
}

.price {
  color: green;
  font-size: 16px;
  font-weight: bold;
}

.timer-view {
  margin-top: 10px;
  font-size: 12px;
  color: #888;
}
/* CSS */
/*contact page css end*/
/* 19. login page css here */
.account_form h2 {
  font-size: 30px;
  text-transform: capitalize;
  color: #242424;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 34px;
}
@media only screen and (max-width: 767px) {
  .account_form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.account_form form {
  border: 1px solid #ddd;
  padding: 23px 20px 29px;
  border-radius: 5px;
}
.account_form label {
  font-size: 15px;
  font-weight: 400;
  color: #242424;
  cursor: pointer;
  line-height: 12px;
  margin-bottom: 12px;
}
.account_form label:hover {
  color: #ff6a28;
}
.account_form input {
  border: 1px solid #ddd;
  height: 40px;
  max-width: 100%;
  padding: 0 20px;
  background: none;
  width: 100%;
}
.account_form button {
  background: #ff6a28;
  border: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  height: 34px;
  line-height: 21px;
  padding: 5px 20px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 20px;
  border-radius: 20px;
}
.account_form button:hover {
  background: #242424;
}

.login_submit label input[type="checkbox"] {
  width: 15px;
  height: 13px;
  margin-right: 3px;
}

.login_submit {
  text-align: right;
}
.login_submit a {
  font-size: 13px;
  color: #ff6a28;
  float: left;
  line-height: 39px;
}
@media only screen and (max-width: 767px) {
  .login_submit a {
    float: none;
    line-height: 18px;
    display: block;
    margin-bottom: 20px;
  }
}

.customer_login {
  padding-bottom: 59px;
}

.account_form p {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .account_form.register {
    margin-top: 57px;
  }
}



body {
  background-color: #202124;
  color: white;
}

.nav-item {
  padding-right: 10px;
}

.nav-item > a {
  font-size: 19px;
}

.nav-item > a:hover {
  color: #fff;
  box-shadow: 0 0 2px gray;
}

.dropdown-item:hover {
  box-shadow: 0 0 2px gray;
}

.dropdown-item.active {
  background-color: #007bff;
}

.collection_item {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.collection_item img {
  opacity: 0.6;
}

.collection_item:hover {
  height: 380px;
  width: 380px;
  box-shadow: 0 0 5px white;
  border-radius: 3px;
}

.collection_item_title_Wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: table;
  table-layout: fixed;
  color: #fff;
  cursor: pointer;
  margin-top: 180px;
  margin-left: 100px;
}

.collection_item_title {
  font-style: italic;
  font-size: 45px;
  line-height: 1.1;
  color: #fff;
}

.center-span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  margin-left: 40px;
}

.blog img {
  border-radius: 5px;
  padding-bottom: 30px;
}

footer .nav-link:hover {
  font-weight: normal;
  text-decoration: underline;
}

/* Giỏ hàng */
#GioHangsanPham .modal-dialog .modal-content {
  background-color: rgb(49, 47, 47);
  padding-top: 10px;
  padding-bottom: 10px;
}

.thanhtoan {
  background-color: green;
  padding: 5px;
  color: #ffffff;
  width: 100%;

  border-radius: 5px;
  margin-top: 10px;
}

.thanhtoan:hover {
  background-color: rgb(3, 212, 3);
}

.size-chu {
  font-size: 15px;
  font-weight: bold;
}

/* Số lượng */

.buttons_added {
  opacity: 1;
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: top;
}
.is-form {
  overflow: hidden;
  position: relative;
  background-color: #f9f9f9;
  height: 2.2rem;
  width: 1.9rem;
  padding: 0;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #ddd;
}
.is-form:focus,
.input-text:focus {
  outline: none;
}
.is-form.minus {
  border-radius: 4px 0 0 4px;
}
.is-form.plus {
  border-radius: 0 4px 4px 0;
}
.input-qty {
  background-color: #fff;
  height: 2.2rem;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  padding: 0;
}
.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Giới Thiệu */
#gioithieu {
  padding: 20px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(158, 158, 158, 0.1);
}

/* Sản Phẩm */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .col-lg-3 {
  width: 290px;
  margin-right: 10px;
  margin-bottom: 40px;
}

.col-lg-3 > .card:hover {
  border: 4px white solid;
  font-style: oblique;
}

.card-body {
  background-color: black;
}

.card-body p {
  text-align: center;
  color: #fff;
}

/* Chi tiết sản phẩm */
.add-to-cart button {
  min-width: 80%;
  padding: 10px;
  box-shadow: 0 0 1px white;
  background-color: black;
  color: white;
  font-weight: bold;
}

.add-to-cart button:hover {
  background-color: #333333;
}

.flex {
  display: flex;
  align-items: center;
}

.col-lg-5 img {
  border-radius: 5px;
}

.col-lg-5 {
  margin-top: 75px;
}

h6 {
  max-width: 80%;
  margin-left: 60px;
}

.mota {
  max-width: 80%;
  margin-left: 60px;
  font-size: 14px;
}

.buttons_added {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.buttons_added input {
  padding: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.input-qty {
  width: 40px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin: 0 -10px; /* Giảm khoảng cách giữa các input */
  padding: 5px;
  font-size: 16px;
  color: white;
}

.input-qty:focus {
  outline: none;
}

.minus,
.plus {
  padding: 3px 8px;
  border-radius: 4px;
  margin: 0 3px; /* Giảm khoảng cách giữa các nút và input */
}

.minus {
  background-color: #007bff;
  color: white;
}

.plus {
  background-color: #007bff;
  color: white;
}

/* Giỏ hàng */
#GioHangsanPham .modal-dialog .modal-content {
  background-color: rgb(49, 47, 47);
  padding-top: 10px;
  padding-bottom: 10px;
}

#thanhtoan {
  background-color: green;
  width: 300px;
  padding: 5px;
  color: #fff;
  float: right;
}

/* Đăng ký - Đăng nhập */
#form {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#form input {
  width: 98%;
  padding: 5px;
  background-color: rgb(49, 47, 47);
  width: 450px;
  border: 0;
  color: white;
}

#form textarea {
  width: 98%;
  padding: 5px;
  background-color: rgb(49, 47, 47);
  width: 450px;
  border: 0;
  color: white;
}

#form button {
  margin-top: 15px;
  color: white;
  padding: 5px;
  background-color: black;
  border: 0;
  width: 450px;
}

#form > a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
#xacnhan:hover {
  background-color: gray;
}

/* Đơn Hàng */
.order {
  width: 80%;
  background: none;
  margin-left: 10%;
}

.order > nav > .nav-tabs {
  justify-content: center;
}

.order > nav > .nav-tabs > .nav-link {
  justify-content: center;
  color: #fff;
  background: none;
  font-size: 20px;
}

.order > nav > .nav-tabs > .nav-link.active {
  font-weight: bold;
  color: rgb(206, 18, 18);
  background-color: rgb(240, 212, 212);
  border-bottom: 5px solid rgb(206, 18, 18);
}

.tab-content {
  margin-top: 20px; /* Tạo khoảng cách giữa tab và nội dung bảng */
  text-align: center;
}

.title-table {
  background-color: rgb(236, 151, 151);
  width: 100%;
  margin-left: 0;
  padding: 10px 0;
}

.title-table > .col-lg-9 {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.table-order {
  margin: 0;
  color: #fff;
  background: none;
}
.size-chu1{
  font-size: 20px;
  font-weight: bold;
}

.size-chu2{
  font-size: 18px;
  font-weight: bold;
}
.ThongTinDonHang {
  background: white;
  height: 90px;
}
.ThongTinDonHang > .ThanhTien{
  font-size: 26px;
  color: red;
  font-weight: bold;
  float: left;
  margin-left: 10px;
  padding-top: 25px;
}

.button-order {
  float: right;
  padding-top: 25px;
  padding-right: 20px;
}

.button-order > .huy{
  font-weight: bold;
  width: 200px;
}
.chitiet{
  font-weight: bold;
  width: 200px;
}

/* Chi Tiết Đơn Hàng */

.progress-container {
  position: relative;
  margin: 20px auto; /* Căn giữa container */
}

.progress {
  height: 20px;
  background-color: #e9ecef;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  background-color: #0d6efd;
  width: 100%; /* Thanh tiến trình kéo dài toàn bộ chiều dài */
  height: 100%;
}

.progress-icons {
  position: absolute;
  top: -15px; /* Đặt icon lên trên thanh tiến trình */
  width: 100%;
  display: flex;
  justify-content: space-between; /* Căn đều các icon */
  padding: 0 10px; /* Thêm khoảng cách hai bên nếu cần */
}

.icon-container {
  background-color: white;
  border: 2px solid #0d6efd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container i {
  color: #0d6efd;
  font-size: 16px;
}

.ThongtinCTDonHang{
  background-color: white;
  width: 100%;
  margin-left: 0;
  height: 155px;
}

.text-ctdh{
  color: #202124;
  padding-left: 15px;
  font-size: 18px;
  margin-bottom: 0;
}