.thongTinND,
.thongTinSP {
  border: 1px solid rgb(222, 226, 230);
  border-radius: 5px;
  padding: 15px 0 15px 15px;
}

.thongTinSP {
  width: 1320px;
  margin-left: -12px;
}

.titleThongTinND,
.titleThongTinSP {
  font-weight: bold;
  font-size: 22px;
  color: #d38450;
}

.ten-NguoiDung,
.sdt-NguoiDung,
.thongTinDiaChi {
  font-weight: bold;
  font-size: 18px;
}

.sp-ThanhToan td {
  padding-top: 20px;
}

.btn-ThayDoi {
  margin-top: 20px;
  margin-right: 20px;
}

.btn-ThayDoi:hover {
  color: white;
  font-weight: bold;
}

.tong-TT {
  line-height: 15px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 70px;
}

.tong-TT p {
  font-size: 20px;
}

.tong-TT p span {
  float: right;
}

.tongThanhTien {
  font-size: 28px;
  font-weight: bold;
  color: red;
}
