<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../assets/css/hau.css">
    <link rel="stylesheet" href="../assets/css/thuan.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.js"></script>
    <script src="../assets/js/app.js"></script>
</head>

<body ng-app="myAccountChangePassword" ng-controller="CheckLogin">
    <div ng-include="'layout/header.html'"></div>
    <div ng-include="'layout/menu.html'"></div>
    <div class="setDoDaiTrang">
        <div class="container" ng-controller="ChangePasswordController">
            <div class="row">
                <div class="col-lg-4 col-md-4"></div>
                <div class="col-lg-4 col-md-4">
                    <div class="account_form">
                        <h2>Đổi mật khẩu</h2>
                        <div>
                            <form name="changePasswordForm" ng-submit="changePassword()" novalidate>
                                <div class="mb-3">
                                    <label for="idaccount" class="form-label">Tên người dùng:</label>
                                    <input type="text" id="idaccount" ng-model="user.idaccount" class="form-control"
                                        readonly>
                                </div>

                                <div class="mb-3">
                                    <label for="txtCurrentPassword" class="form-label">Mật khẩu hiện tại (*)</label>
                                    <input type="password" id="txtCurrentPassword" ng-model="user.password"
                                        class="form-control" required>
                                    <div ng-show="changePasswordForm.txtCurrentPassword.$touched && changePasswordForm.txtCurrentPassword.$invalid"
                                        class="text-danger">
                                        Mật khẩu hiện tại không hợp lệ
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="txtNewPassword" class="form-label">Mật khẩu mới (*)</label>
                                    <input type="password" id="txtNewPassword" ng-model="user.newPassword"
                                        class="form-control" required minlength="6">
                                    <div ng-show="changePasswordForm.txtNewPassword.$touched && changePasswordForm.txtNewPassword.$invalid"
                                        class="text-danger">
                                        Mật khẩu mới phải có ít nhất 6 ký tự
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="txtConfirmPassword" class="form-label">Xác nhận mật khẩu mới (*)</label>
                                    <input type="password" id="txtConfirmPassword" ng-model="user.confirmPassword"
                                        class="form-control" required>
                                    <div ng-show="changePasswordForm.txtConfirmPassword.$touched && user.confirmPassword !== user.newPassword"
                                        class="text-danger">
                                        Xác nhận mật khẩu phải khớp với mật khẩu mới
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary"
                                    ng-disabled="changePasswordForm.$invalid || isSubmitting">ĐỔI MẬT KHẨU</button>

                                <div class="text-center mt-4">
                                    <a href="login.html" class="btn btn-outline-primary mx-2">Quay về đăng nhập</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4"></div>
            </div>
        </div>
    </div>
    <div ng-include="'layout/footer.html'"></div>

    <script src="../assets/js/changepasword.js"></script>
    <script src="../assets/js/bootstrap.bundle.js"></script>
</body>

</html>