<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tên Sản Phẩm</title>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="../assets/css/thuan.css">
  <link rel="stylesheet" href="../assets/css/chitietsanpham.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../assets/js/angular.min.js"></script>
  <script src="../assets/js/angular-route.js"></script>
  <script src="../assets/js/chitietsanpham.js"></script>

</head>

<body ng-app="myApp" ng-controller="ProductDetailController">
  <div ng-include="'layout/header.html'"></div>
  <div ng-include="'layout/menu.html'"></div>

  <div class="container-fluid mx-4" style="margin-top: 55px; z-index: -1">
    <div style="font-size: 20px">
      <a href="index.html" style="color: #2e1d15"><span>Trang Chủ</span></a>
      <span class="fw-bold mx-2">/</span>
      <a href="" style="color: #2e1d15"><span>{{ product.category.categoryname }}</span></a>
      <span class="fw-bold mx-2">/</span>
      <span>{{ product.productname }}</span>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-5">
            <div class="box-img-detail">
              <a href="">
                <img ng-src="{{product.img}}" alt="{{product.productname}}"
                  class="img-reponsive mt-0" style="width: 340px; height: 350px;">
              </a>
            </div>
          </div>
          <div class="col-lg-7">
            <h4 class="tenSanPhamChiTiet">{{product.productname}}</h4>
            <div class="danhgia">
              <b>5.0</b>
              <div class="rating">
                <label class="active">★</label>
                <label class="active">★</label>
                <label class="active">★</label>
                <label class="active">★</label>
                <label class="active">★</label>
              </div>
              <span>|  số lươt đánh giá</span>
            </div>

            <div class="box-price" ng-if="productDetails.length">
              <div class="price-chitiet">
                <!-- Hiển thị giá hiện tại với ký hiệu ₫ sau -->
                <span class="current-price">{{selectedSizeDetail.unitprice | number : 0}}₫</span>
              </div>
            </div>
            <div>
              <span class="QuantityInStock">Số lượng hiện có:
                <b>{{selectedSizeDetail.quantityinstock}}</b></span>
              <span class="QuantityInStock ms-4">Số lượng yêu thích:
                <b>1</b></span>
                <button type="button" class="btn btn-yt" ng-click="toggleHeart()" ng-class="{'active': isActive}">
                  <i class="bi bi-heart-fill"></i>
                </button>
            </div>
            <div class="size-pd">
              <span>Kích cỡ: </span>
              <div class="size-options">
                <button ng-repeat="detail in productDetails"
                  ng-class="{'selected-size': selectedSize === detail.size.sizename}" class="size-button"
                  ng-click="selectSize(detail.size.sizename)">
                  {{detail.size.sizename}}
                </button>
              </div>
            </div>
            <div class="moTa mt-3">
              <textarea rows="5" readonly>{{ product.description }}</textarea>
            </div>
            <div class="inner-load">
              <div class="box-add">
                <div class="number-card">
                  <span>Số lượng:</span>
                  <input type="number" name="numberproduct" id="numberproduct" class="form-control" value="1" min="1"
                    max="{{selectedSizeDetail.quantityinstock}}" ng-model="selectedQuantity" />
                </div>
                <div class="btn-chitietsanpham">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi bi-cart-fill"></i> Thêm giỏ hàng
                  </button>
                  <button type="button" class="btn btn-secondary">
                    Mua Nhanh
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card-type mx-4 p-3" style="border: 1px solid rgb(222, 226, 230); border-radius: 1%">
          <h4 style="text-align: center">Danh Mục Sản Phẩm</h4>
          <hr />
          <ul class="list-group">
            <li class="list-group-item" style="border: none">
              Tên loại sản phẩm
              <span class="">(14)</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <span class="textSanPham">Sản phẩm Tương tự</span>
    </div>
  </div>
  <div ng-include="'layout/footer.html'"></div>
  <script>
    function toggleHeart(button) {
      // Kiểm tra trạng thái của nút và đổi trạng thái
      button.classList.toggle("active");
    }
  </script>
  <script src="../assets/js/bootstrap.bundle.js"></script>
</body>

</html>