<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên Mật Khẩu</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../assets/css/hau.css">
    <link rel="stylesheet" href="../assets/css/thuan.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/account.js"></script>
    <script src="../assets/js/reset_password.js"></script>
    <link rel="stylesheet" href="assets/css/plugins.css">
</head>

<body ng-app="myApp" ng-controller="CheckLogin">
    <div ng-include="'layout/header.html'"></div>
    <div ng-include="'layout/menu.html'"></div>

    <div class="customer_login"></div>
    <div class="container" ng-controller="ResetPasswordController">
        <div class="row">
            <div class="col-lg-4 col-md-4"></div>
            <div class="col-lg-4 col-md-4">
                <div class="account_form">
                    <h2>Quên Mật Khẩu</h2>
                    <form id="form" name="forgotPasswordForm" ng-submit="sendResetLink()" novalidate>
                        <div class="form-group">
                            <input type="email" ng-model="user.email" placeholder="Email (*)" class="form-control mb-2" name="txtEmail" required>
                            <div class="form-text text-danger" ng-show="forgotPasswordForm.txtEmail.$touched && forgotPasswordForm.txtEmail.$invalid">
                                Email không hợp lệ
                            </div>
                        </div>

                        <div class="login_submit">
                            <!-- <button type="button" class="btn btn-secondary" ng-click="sendOtp()">Gửi mã OTP</button> Nút gửi mã OTP -->
                            <button type="submit" id="xacnhan" class="btn btn-primary" ng-disabled="isSubmitting">Gửi liên kết đặt lại mật khẩu</button>
                            <div class="form-text text-danger" ng-show="resetError">
                                {{resetError}}
                            </div>
                            <div class="form-text text-success" ng-show="resetSuccess">
                                {{resetSuccess}}
                            </div>
                            <a href="login.html"> Quay lại đăng nhập </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4"></div>
        </div>
    </div>
    <div ng-include="'layout/footer.html'"></div>
    <script src="../assets/js/bootstrap.bundle.js"></script>
    <script src="../assets/js/forgot-passwordd.js"></script>
</body>

</html>