<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../assets/css/hau.css" />
    <link rel="stylesheet" href="../assets/css/thuan.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body ng-app="order" ng-controller="CheckLogin">
    <div ng-include="'layout/header.html'"></div>
    <div ng-include="'layout/menu.html'"></div>
    <div class="setDoDaiTrang">
      <br />
      <div class="order" ng-controller="CartController">
        <div class="container mt-4">
          <br />
          <h3 class="cart-header">GIỎ HÀNG CỦA BẠN</h3>
          <h5>
            Giỏ hàng của bạn (<b class="cart-cnt">{{ products.length }}</b> sản
            phẩm)
            <span class="float-end" style="font-weight: bold; font-size: 16px">
              Tổng tiền:
              <span style="color: #cc3300" id="selectedTotal"
                >{{ calculateSelectedTotal() | number:0 }} VNĐ</span
              >
            </span>
          </h5>
          <table class="table cart-table">
            <thead>
              <tr>
                <th style="width: 5%; text-align: center">Chọn</th>
                <th style="width: 15%; text-align: center">Ảnh</th>
                <th style="width: 10%; text-align: left">Tên Sản Phẩm</th>
                <th style="width: 8%; text-align: right">Kích thước</th>
                <th style="width: 10%; text-align: right">Giá</th>
                <th style="width: 10%; text-align: center">Số Lượng</th>
                <th style="width: 10%; text-align: right">Tổng Tiền</th>
                <th style="width: 5%; text-align: center">Xóa</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in products">
                <td style="text-align: center; vertical-align: middle">
                  <input type="checkbox" ng-model="product.selected" />
                </td>
                <td style="text-align: center; vertical-align: middle">
                  <img
                    ng-src="../admin/images/{{ product.image }}"
                    style="width: 80px; height: auto"
                  />
                </td>
                <td style="vertical-align: middle">
                  <p style="font-size: 18px; font-weight: bold">
                    {{ product.name }}
                  </p>
                </td>
                <td style="text-align: center; vertical-align: middle">
                  <p style="font-size: 18px; font-weight: bold">
                    {{ product.size.sizename }}
                  </p>
                </td>
                <td style="text-align: right; vertical-align: middle">
                  <p style="font-weight: bold">
                    {{ product.price | number:0 }} VNĐ
                  </p>
                </td>
                <td style="text-align: center; vertical-align: middle">
                  <button
                    class="btn btn-sm btn-secondary"
                    ng-click="decreaseQuantity(product)"
                    style="font-size: 16px"
                  >
                    -
                  </button>
                  <input
                    type="text"
                    ng-model="product.quantity"
                    ng-blur="validateQuantity(product)"
                    style="
                      width: 60px;
                      height: 40px;
                      font-size: 16px;
                      text-align: center;
                    "
                  />
                  <button
                    class="btn btn-sm btn-secondary"
                    ng-click="increaseQuantity(product)"
                    style="font-size: 16px"
                  >
                    +
                  </button>
                  <br />
                  <p style="font-weight: bold">
                    Còn: {{product.stockQuantity}}
                  </p>
                </td>

                <td style="text-align: right; vertical-align: middle">
                  <p style="font-weight: bold">
                    {{ product.outOfStock ? 'Vượt quá số lượng' : (product.price
                    * product.quantity | number:0) + ' VNĐ' }}
                  </p>
                </td>
                <td style="text-align: center; vertical-align: middle">
                  <button
                    class="btn btn-sm btn-danger"
                    ng-click="removeFromCart(product)"
                    style="font-size: 16px; padding: 10px"
                  >
                    <i class="bi bi-trash"></i> Xóa
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Modal thông báo -->
          <div
            class="modal fade"
            id="exceedStockModal"
            tabindex="-1"
            aria-labelledby="exceedStockModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exceedStockModalLabel">
                    Thông báo
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Số lượng đã vượt quá số lượng trong kho.
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    OK
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="stockModal"
            tabindex="-1"
            aria-labelledby="stockModalLabel"
            aria-hidden="true"
          ></div>
          <div
            class="modal fade"
            id="confirmationModal"
            tabindex="-1"
            aria-labelledby="confirmationModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmationModalLabel">
                    Thông báo
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Bạn có chắc chắn muốn xóa sản phẩm này không?
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    Hủy
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    ng-click="confirmRemove()"
                  >
                    Xóa
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal thông báo chọn sản phẩm -->
          <div
            class="modal fade"
            id="noProductSelectedModal"
            tabindex="-1"
            aria-labelledby="noProductSelectedModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="noProductSelectedModalLabel">
                    Thông báo
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  Vui lòng chọn ít nhất một sản phẩm để thanh toán.
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                  >
                    OK
                  </button>
                </div>
              </div>
            </div>
          </div>

          <hr />
          <div class="text-center">
            <a href="../assets/index.html" class="btn btn-lg btn-primary"
              >Tiếp tục mua hàng</a
            >
            <a
              href="javascript:void(0);"
              class="btn btn-lg btn-success"
              ng-click="checkout()"
            >
              Thanh Toán
            </a>
          </div>
        </div>
      </div>
    </div>

    <div ng-include="'layout/footer.html'"></div>
    <script src="../assets/js/bootstrap.bundle.js"></script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.js"></script>
    <script src="../assets/js/order.js"></script>
  </body>
</html>
