<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/Information.js"></script>
     <!-- Plugins CSS -->
     <link rel="stylesheet" href="assets/css/plugins.css">
    
</head>
<body ng-app="myApp" ng-controller="Controller">
    <!-- Bao gồm header và menu -->
    <div ng-include="'layout/header.html'"></div>
    <div ng-include="'layout/menu.html'"></div>
            <div class="container my-4">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <div class="">
                            <h2 style="text-align: center;">Thông tin cá nhân</h2>
        
                            <!-- Hiển thị thông tin người dùng nếu đã đăng nhập -->
                            <div ng-if="user">
                                <form id="userProfileForm" ng-submit="updateUserProfile()" class="text-white">
                                    <div class="mb-3">
                                        <label for="idaccount">Tên đăng nhập <span>*</span></label>
                                        <input type="text" id="idaccount" class="form-control" ng-model="user.idaccount" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="fullname">Họ và tên <span>*</span></label>
                                        <input type="text" id="fullname" class="form-control" ng-model="user.fullname" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email">Email <span>*</span></label>
                                        <input type="email" id="email" class="form-control" ng-model="user.email" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="phonenumber">Số điện thoại <span>*</span></label>
                                        <input type="text" id="phonenumber" class="form-control" ng-model="user.phonenumber" required>
                                    </div>
                                    <div class="login_submit">
                                        <button type="submit" class="btn btn-primary">Cập nhật thông tin</button>
                                    </div>
                                </form>
                            </div>
                            
        
                            <!-- Hiển thị thông báo nếu không có thông tin người dùng -->
                            <div ng-if="!user">
                                <p>Không có thông tin người dùng. Vui lòng đăng nhập.</p>
                                <a href="login.html" class="btn btn-link">Đăng nhập ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Bao gồm các tập tin JavaScript -->
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
            <script src="../assets/js/bootstrap.bundle.min.js"></script>
            <script src="app.js"></script>

                    <!-- Thông báo nếu chưa đăng nhập -->
                    <div ng-if="!isLoggedIn">
                        <p>Chưa có người dùng nào đăng nhập.</p>
                        <a href="login.html" class="btn btn-link">Đăng nhập ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bao gồm footer -->
    <div ng-include="'layout/footer.html'"></div>

</body>