<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../assets/css/hau.css">
    <link rel="stylesheet" href="../assets/css/thuan.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/register.js"></script>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
</head>

<body ng-app="myApp" ng-controller="RegisterController">
    <div ng-include="'layout/header.html'"></div>
    <div ng-include="'layout/menu.html'"></div>

    <div class="customer_register">
        <div class="container">
            <div class="row justify-content-center"> <!-- Center the row -->
                <div class="col-md-6"> <!-- Make form wider on medium and large screens -->
                    <div class="wrapper">
                        <div class="account_form position-relative">

                            <form id="form" name="regisForm" ng-submit="register()">
                                <br>
                                <h2 class="text-center">Đăng ký</h2>
                                <img src="../assets/img/sticker-cake1.png" class="sticker sticker-left-top" alt="Sticker bánh kem">
                                <img src="../assets/img/sticker-cake2.png" class="sticker sticker-right-bottom" alt="Sticker bánh kem">

                                <div class="row">
                                    <!-- Left Column -->
                                    <div class="col-md-6">
                                        <div>
                                            <label for="txtIDAccount">Tên tài khoản</label>
                                            <input placeholder="Tên tài khoản (*)" type="text" id="idaccount" name="idaccount" ng-model="user.idaccount" 
                                                   class="form-control" required minlength="4" />
                                            <div class="form-text text-danger" ng-show="regisForm.idaccount.$touched && regisForm.idaccount.$error.required">
                                                Tên tài khoản không được để trống.
                                            </div>
                                            <div class="form-text text-danger" ng-show="regisForm.idaccount.$touched && regisForm.idaccount.$error.minlength">
                                                Tên tài khoản phải có ít nhất 4 ký tự.
                                            </div>
                                        </div>
                                        
                                        <div>
                                            <label for="txtFullname">Họ và tên</label>
                                            <input placeholder="Họ và tên (*)" type="text" id="fullname" name="fullname" ng-model="user.fullname" 
                                                   class="form-control" required minlength="2" />
                                            <div class="form-text text-danger" ng-show="regisForm.fullname.$touched && regisForm.fullname.$error.required">
                                                Họ và tên không được để trống.
                                            </div>
                                            <div class="form-text text-danger" ng-show="regisForm.fullname.$touched && regisForm.fullname.$error.minlength">
                                                Họ và tên phải có ít nhất 2 ký tự.
                                            </div>
                                        </div>

                                        <!-- Email -->
                                        <div>
                                            <label for="txtEmail">Email</label>
                                            <input placeholder="Email (*)" type="email" id="email" name="email" ng-model="user.email" 
                                                   class="form-control" required />
                                            <div class="form-text text-danger" ng-show="regisForm.email.$touched && regisForm.email.$error.required">
                                                Email không được để trống.
                                            </div>
                                            <div class="form-text text-danger" ng-show="regisForm.email.$touched && regisForm.email.$error.email">
                                                Địa chỉ email không hợp lệ.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Right Column -->
                                    <div class="col-md-6">
                                        <div>
                                            <label for="txtPassword">Mật khẩu</label>
                                            <input placeholder="Mật khẩu (*)" type="password" id="password" name="password" ng-model="user.password" 
                                                   class="form-control" required minlength="6" />
                                            <div class="form-text text-danger" ng-show="regisForm.password.$touched && regisForm.password.$error.required">
                                                Mật khẩu không được để trống.
                                            </div>
                                            <div class="form-text text-danger" ng-show="regisForm.password.$touched && regisForm.password.$error.minlength">
                                                Mật khẩu phải có ít nhất 6 ký tự.
                                            </div>
                                        </div>

                                        <div>
                                            <label for="txtConfirmPassword">Nhập lại mật khẩu</label>
                                            <input placeholder="Nhập lại mật khẩu (*)" type="password" id="confirmPassword" name="confirmPassword" ng-model="user.confirmPassword"
                                                   class="form-control" required minlength="6" />
                                            <div class="form-text text-danger" ng-show="regisForm.confirmPassword.$touched && regisForm.confirmPassword.$error.required">
                                                Bạn phải nhập lại mật khẩu.
                                            </div>
                                            <div class="form-text text-danger" ng-show="regisForm.confirmPassword.$touched && regisForm.confirmPassword.$error.minlength">
                                                Mật khẩu phải có ít nhất 6 ký tự.
                                            </div>
                                            <div class="form-text text-danger" ng-show="regisForm.confirmPassword.$touched && regisForm.confirmPassword.$viewValue !== regisForm.password.$viewValue">
                                                Mật khẩu nhập lại không khớp.
                                            </div>
                                        </div>

                                        <div>
                                            <label for="txtPhonenumber">Số điện thoại</label>
                                            <input placeholder="Số điện thoại (*)" type="text" id="phonenumber" name="phonenumber" ng-model="user.phonenumber" 
                                                   class="form-control" required ng-pattern="/^[0-9]{10,11}$/" />
                                            <div class="form-text text-danger" ng-show="regisForm.phonenumber.$touched && regisForm.phonenumber.$error.required">
                                                Số điện thoại không được để trống.
                                            </div>
                                            <div class="form-text text-danger" ng-show="regisForm.phonenumber.$touched && regisForm.phonenumber.$error.pattern">
                                                Số điện thoại phải là số có 10-11 chữ số.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="login_submit">
                                    <a href="login.html"> Đã có tài khoản? Đăng nhập </a>
                                    <button type="submit" id="xacnhan" class="btn btn-primary">Đăng ký</button>
                                    <div class="form-text text-success" ng-show="registerSuccess">
                                        {{registerSuccess}}
                                    </div>
                                    <div class="form-text text-danger" ng-show="registerError">
                                        {{registerError}}
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div ng-include="'layout/footer.html'"></div>
    <script src="../assets/js/bootstrap.bundle.js"></script>
</body>

</html>
