<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../assets/css/hau.css">
    <link rel="stylesheet" href="../assets/css/thuan.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src="../assets/js/angular.min.js"></script>
    <script src="../assets/js/angular-route.js"></script>
    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/register.js"></script>
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins.css">
</head>

<body ng-app="myApp" ng-controller="RegisterController">
    <div ng-include="'layout/header.html'"></div>
    <div ng-include="'layout/menu.html'"></div>

    <div class="customer_register">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4"></div>
                <div class="col-lg-4 col-md-4">
                    <div class="wrapper">
                        <div class="account_form position-relative">

                            <form id="form" name="regisForm" ng-submit="register()">
                                <br>
                                <h2>Đăng ký</h2>
                                <img src="../assets/img/sticker-cake1.png" class="sticker sticker-left-top" alt="Sticker bánh kem">
                                <img src="../assets/img/sticker-cake2.png" class="sticker sticker-right-bottom" alt="Sticker bánh kem">
                            
    
                                <input type="text" ng-model="user.idaccount" placeholder="Tên người dùng (*)" class="mb-2"
                                    name="txtUsername" required><br>
                                <div class="form-text text-danger"
                                    ng-show="regisForm.txtUsername.$touched && regisForm.txtUsername.$invalid">
                                    Tên người dùng không hợp lệ
                                </div>
                                <input type="password" ng-model="user.password" minlength="6" name="txtPassword"
                                    placeholder="Mật khẩu (*)" class="mt-2 mb-2" required><br>
                                <div class="form-text text-danger"
                                    ng-show="regisForm.txtPassword.$touched && regisForm.txtPassword.$invalid">
                                    Mật khẩu phải có ít nhất 6 ký tự
                                </div>
                                <input type="text" ng-model="user.fullname" placeholder="Họ và tên (*)" class="mb-2"
                                    name="txtFullName" required><br>
                                <div class="form-text text-danger"
                                    ng-show="regisForm.txtFullName.$touched && regisForm.txtFullName.$invalid">
                                    Họ và tên không hợp lệ
                                </div>
                                <input type="email" ng-model="user.email" placeholder="Email (*)" class="mt-2 mb-2"
                                    name="txtEmail" required><br>
                                <div class="form-text text-danger"
                                    ng-show="regisForm.txtEmail.$touched && regisForm.txtEmail.$invalid">
                                    Email không hợp lệ
                                </div>
                                <input type="tel" ng-model="user.phonenumber" placeholder="Số điện thoại (*)"
                                    class="mt-2 mb-2" name="txtPhone" required><br>
                                <div class="form-text text-danger"
                                    ng-show="regisForm.txtPhone.$touched && regisForm.txtPhone.$invalid">
                                    Số điện thoại không hợp lệ
                                </div>
                                <div class="login_submit">
                                    <a href="login.html"> Đã có tài khoản? Đăng nhập </a>
                                    <button type="submit" id="xacnhan" class="btn btn-primary">Đăng ký</button>
                                    <div class="form-text text-success" ng-show="registerSuccess">
                                        {{registerSuccess}}
                                    </div>
                                    <div class="form-text text-danger" ng-show="registerError">
                                        {{registerError}}
                                    </div>
    
    
                                </div>
    
                            </form>
                        </div>
                    </div>
                    

                </div>
                <div class="col-lg-4 col-md-4"></div>

            </div>
        </div>
    </div>

    <div ng-include="'layout/footer.html'"></div>
    <script src="../assets/js/bootstrap.bundle.js"></script>
</body>

</html>