<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tên Loại Sản Phẩm</title>
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/bootstrap-icons-1.11.3/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="../assets/css/thuan.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../assets/js/angular.min.js"></script>
  <script src="../assets/js/angular-route.js"></script>
  <script src="../assets/js/app.js"></script>
  <script src="../assets/js/account.js"></script>
</head>

<body ng-app="myApp" ng-controller="discountsController">
  <div ng-include="'layout/header.html'"></div>
  <div ng-include="'layout/menu.html'"></div>

  <div class="container-fluid mx-4" style="margin-top: 55px">
    <div style="font-size: 20px">
      <a href="index.html" style="color: #2e1d15"><span>Trang Chủ</span></a>
      <span class="fw-bold mx-2">/</span>
      <span>Ten Loai san pham</span>
    </div>
    <div class="row mt-4">
      <div class="col-lg-9">
        <div class="row pt-3">
          <div class="col-md-9">
            <h3>
              <a href="" class="pb-3 px-2" style="border-bottom: #d38450 3px solid; color: #2e1d15">
                Tên Loại Sản Phầm
              </a>
            </h3>
          </div>
          <div class="col-md-3" style="transform: scale(1.05)">
            <div class="btn-group" style="border: 1px solid rgb(222, 226, 230)">
              <a href="#" class="btn loc-sp active" aria-current="page">Mới về</a>
              <a href="#" class="btn loc-sp">Giá</a>
              <a href="#" class="btn loc-sp">Đánh Giá</a>
              <a href="#" class="btn loc-sp">Mua nhiều</a>
            </div>
          </div>
        </div>
        <hr class="mt-2 me-1" />
        <div class="row"ng-repeat="item in Products">
          <!-- <div class="col-lg-3">
            <div class="pd-box" style="border: 1px solid rgb(222, 226, 230); width: 320px">
              <div class="box-images">
                <a ng-click="goToProduct(item.idproduct)" title="{{item.productname}}">
                  <img width="187px" height="208.875px" ng-src="{{item.img}}" alt="{{item.productname}}"
                    class="img-responsive lazy" />
                </a>
                <button type="button" onclick="LikeThis(this, '6388')" class="btn-addlike" style="display: none">
                  <i class="fa fa-heart-o heart_new"></i>
                </button>
              </div>
              <div class="box-content" ng-repeat="item in AllProducts">
                <h3>
                  <a href="/{{item.productname | slugify}}.html" title="{{item.productname}}"
                    class="tenTheSP">{{item.productname}}</a>
                </h3>
                <div>
                  <span class="price">{{item.unitprice}}₫</span>
                  <span ng-if="item.discount > 0" class="discounted-price">{{item.unitprice - (item.unitprice *
                    (item.discount / 100))}}₫</span>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-lg-3" ng-repeat="item in DiscountedProducts">
            <div class="pd-box" style="border: 1px solid rgb(222, 226, 230); width: 320px">
              <div class="box-images">
                <a ng-click="goToProduct(item.idproduct)" title="{{item.productname}}">
                  <img width="187px" height="208.875px" ng-src="{{item.img}}" alt="{{item.productname}}" class="img-responsive lazy" />
                </a>
              </div>
              <div class="box-content">
                <h3>
                  <a href="javascript:void(0);" ng-click="goToProduct(item.idproduct)" title="{{item.productname}}" class="tenTheSP">{{item.productname}}</a>
                </h3>
                <div>
                  <span class="original-price" ng-if="item.discount > 0" style="text-decoration: line-through;">
                    {{item.unitprice}}₫
                  </span>
                  <span class="discounted-price">{{item.discountedPrice}}₫</span>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-lg-3" >
            <div class="pd-box" style="border: 1px solid rgb(222, 226, 230); width: 320px">
              <div class="box-images">
                <a ng-click="goToProduct(item.idproduct)" title="{{item.productname}}">
                  <img width="187px" height="208.875px" ng-src="{{item.img}}" alt="{{item.productname}}" class="img-responsive lazy" />
                </a>
              </div>
              <div class="box-content">
                <h3>
                  <a href="/son-duong-mo-huou-astrid-astrid-lip-balm-3gr-hong.html" title="Son Dưỡng Mỡ Hươu Astrid"
                    class="tenTheSP">{{item.productname}}</a>
                </h3>
                <div>
                  <span class="original-price" ng-if="item.discount > 0" style="text-decoration: line-through;">
                    {{item.unitprice}}₫
                  </span>
                  <span class="discounted-price">{{item.discountedPrice}}₫</span>
                </div>
                <div class="cd-content">
                  <div class="timer-view" data-countdown="countdown" data-date="09-13-2024-21-28-03"
                    data-start="09-13-2024-21-28-03" data-active="true">
                    <div class="lof-labelexpired"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="card-type mx-4 p-3" style="border: 1px solid rgb(222, 226, 230); border-radius: 1%">
          <h4 style="text-align: center">Danh Mục Sản Phẩm</h4>
          <hr />
          <ul class="list-group"ng-repeat="item in Products">
            <li class="list-group-item" style="border: none">
              {{item.productname}}            
              <span class="">(14)</span>  
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/js/bootstrap.bundle.js"></script>
  <script src="../assets/js/index.js"></script>
</body>

</html>